.section.multicontent-gallery-container {
    width: 100vw;
    padding: 0;
}

.block.multicontent-gallery {
    height: auto;
    min-height: 36.625rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    justify-content: end;
}

.block.multicontent-gallery .vid-img-slide-cover-title {    
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 0;
    text-align: center;
    text-align: left;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
    padding-right: 3rem;
}

.block.multicontent-gallery .vid-img-slide-cover-title::after {
    -moz-osx-font-smoothing: grayscale;
    width: 1rem;
    position: absolute;
    right: 0;   
    content: "arrow_chevron_down";    
    direction: ltr;
    font-family: "bmw_next_icons", arial, helvetica, roboto, sans-serif; 
    font-style: normal;
    height: 1rem;
    line-height: 1;
    outline: 1px solid transparent;
    color: var(--text-color);
    margin: 0 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.block.multicontent-gallery .vid-img-slide-expand-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    font-family: bmwTypeNextWeb,Arial,Helvetica,Roboto,sans-serif;
    color: var(--light-text-color);
    margin: 0;
    margin-bottom: 0.75rem;
}

.block.multicontent-gallery .vid-img-slide-expand-descp {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--light-text-color);
    margin: 0;
    margin-bottom: 0.75rem;
}

.block.multicontent-gallery .vid-img-slide-link-btn {
    margin-bottom: 0.75rem;
    margin-top: 0;
    display: block;
}

.block.multicontent-gallery .vid-img-slide-link-btn a {
    margin-top: 0;
    font-size: 0.875rem;
    min-height: 2.25rem;
    border-radius: 0.1876rem;
}

.block.multicontent-gallery .overlay-effect {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.block.multicontent-gallery .vid-img-slide-showmore-btn {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    box-shadow: 0 -1.937rem 1.1875rem var(--background-color);
}

.block.multicontent-gallery .vid-img-slide-showmore-btn-link {
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: left;
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color);
    padding: 0 1.4rem 1.5rem 0;
    margin-left: 1.5rem;
    position: relative;
}

.block.multicontent-gallery .vid-img-slide-showmore-btn-link::before {
    position: relative;
    content: "arrow_chevron_down";
    direction: ltr;
    font-family: "bmw_next_icons",arial,helvetica,roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 1.25rem;
    line-height: 1;
    outline: 1px solid transparent;
    font-size: 1.25rem;
    color: var(--text-color);
    top: 0.6875rem;
    margin-right: 0.5625rem;
    transform: translateY(-50%);
    transition: transform .25s ease-in-out;
}

.block.multicontent-gallery .vid-img-slide-showmore-btn.showless {    
    box-shadow: unset;
}

.block.multicontent-gallery .vid-img-slide-showmore-btn.showless .vid-img-slide-showmore-btn-link::before {
    transform: translateY(-50%) rotate(-180deg);
}

.block.multicontent-gallery .video-image-slide-conatiner {
    height: calc(100vw + 3rem);
    max-width: var(--max-component-width);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;    
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.block.multicontent-gallery .video-image-slide-conatiner.overlay-effect {
    opacity: 0.5;
}

.block.multicontent-gallery .video-image-detail-container {
    z-index: 2;
    padding: 0 1.5rem;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    height: auto;
}

.block.multicontent-gallery .video-image-detail-container::-webkit-scrollbar {
    display: none;
}

.block.multicontent-gallery .video-image-slide-conatiner .media {
    height: 100%;
    width: 100%;
}

.block.multicontent-gallery .video-image-detail-container .detail {
    flex: 0 0 auto;
    width: 85%;
    margin: 0 0.5rem;
    display: inline-block;
    white-space: break-spaces;
    overflow-y: hidden;
    margin-bottom: -0.375rem;
    position: relative;
}

.block.multicontent-gallery .video-image-detail-container .detail::after {
    position: absolute;
    top: 0;   
    left: 0;
    width: 100%;
    height: 100%;    
    content: " ";
    background: var(--background-color);
    opacity: 0.5;
}

.block.multicontent-gallery .video-image-detail-container .detail.visible::after {
    display: none;
}

.block.multicontent-gallery .video-image-detail-container .detail:first-child {
    margin-left: 0;
}

.block.multicontent-gallery .video-image-detail-container .detail:first-child:last-child {
    width: 100%;
}

.block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover {
    display: none;
    gap: .5rem;
    justify-content: space-between;
    margin: 0;
    background-color: transparent;
    color:var(--text-color);
    width: 100%;
    flex-direction: column;
    position: relative;
}

.block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-expand-cover {
    height: 13.38rem;
    padding: 1.5rem 1.5rem 0.75rem;
    position: relative;
    background-color: var(--background-color);
    border: .0625rem solid var(--light-grey-1);
    cursor: grab;
    transition: height .25s ease-in-out;
}

.block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-expand-cover:active {    
    cursor: grabbing;
}


.block.multicontent-gallery .video-image-slide-conatiner .video-image-slide {
    display: none;
}

.block.multicontent-gallery .video-image-slide-conatiner .video-image-slide.visible {
    display: block;
}

.block.multicontent-gallery .video-image-slide-conatiner .video-image-slide.media > div {
    height: inherit !important;
    width: 100% !important;
    padding: 0 !important;
}

.block.multicontent-gallery .video-image-slide-conatiner .video-image-slide.media picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.block.multicontent-gallery .video-image-slide-conatiner .video-image-slide.media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.block.multicontent-gallery .video-image-slide-conatiner .video-image-slide.media div video {
    height: 100%;
    width: 100%;
}

/* tablet */
@media (width >= 768px) and (width <= 1279px){ 
    .block.multicontent-gallery {
        height: auto;
        min-height: 54.75rem;
    }

    .block.multicontent-gallery .video-image-slide-conatiner{
        height: auto;
        aspect-ratio: 1;
    }
    
    .block.multicontent-gallery .video-image-detail-container{
        height: auto;
    }

    .block.multicontent-gallery .video-image-detail-container .detail {
        width: 85%;
    }

    .block.multicontent-gallery .video-image-detail-container .detail:first-child:last-child {
        width: 85%;
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-expand-cover {
        height: 9rem;
        transition: height .25s ease-in-out;
    }
}

/* desktop */
@media (width >= 1280px) and (width <= 1920px){ 
    .block.multicontent-gallery {
        height: auto;
        min-height: 33.125rem;
    }

    .block.multicontent-gallery .video-image-slide-conatiner {
        height: auto;
        aspect-ratio: 3/1;
    }
    
    .block.multicontent-gallery .video-image-detail-container {
        height: auto;
        padding: 0 6rem;
    }
    
    .block.multicontent-gallery .video-image-detail-container .detail {
        width: 24%;
    }

    .block.multicontent-gallery .video-image-detail-container .detail:first-child:last-child {
        width: 24%;
    }

    .block.multicontent-gallery .video-image-detail-container .detail::after {
        display: none;
    }    

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover {
        display: flex;
        height: 7.0625rem;
        justify-content: center;
        transition: transform 0.2s;
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-expand-cover {
        height: 12.125rem;
        display: none;
        transition: transform 0.25s ease-in-out,height .25s ease-in-out;
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.slide-in {
        transform: translateY(0%);
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.slide-out {
        transform: translateY(100%);
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.clicked {
        transition: transform 0.5s;
        display: none;
    }
    

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.clicked.slide-in {
        transform: translateY(0%);
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.clicked.slide-out {
        transform: translateY(100%);
    }

    

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.clicked + .vid-img-slide-expand-cover {
        display: block;
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.clicked + .vid-img-slide-expand-cover.slide-in {
        transform: translateY(0%);
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.clicked + .vid-img-slide-expand-cover.slide-out {
        transform: translateY(100%);
    }
}

/* large desktop */
@media (width >= 1920px) { 
    .block.multicontent-gallery {
        max-width: var(--max-component-width);
        padding-left: calc((100vw - (var(--max-component-width)))/2);
        padding-right: calc((100vw - (var(--max-component-width)))/2);
    }

    .block.multicontent-gallery .video-image-slide-conatiner{       
        height: auto;
        aspect-ratio: 3/1;
        padding-left: calc((100vw - (var(--max-component-width)))/2);
        padding-right: calc((100vw - (var(--max-component-width)))/2);
    }
    
    .block.multicontent-gallery .video-image-detail-container{ 
        height: auto;
        padding: 0 6rem;
    }

    .block.multicontent-gallery .video-image-detail-container .detail {
        width: 24%;
    }

    .block.multicontent-gallery .video-image-detail-container .detail:first-child:last-child {
        width: 24%;
    }

    .block.multicontent-gallery .video-image-detail-container .detail::after {
        display: none;
    } 

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover {
        display: flex;
        height: 7.0625rem;
        justify-content: center;
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-expand-cover {
        height: 10.125rem;
        display: none;
        transition: transform 0.25s ease-in-out,height .25s ease-in-out;
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.clicked {
        display: none;
    }

    .block.multicontent-gallery .video-image-detail-container .detail .vid-img-slide-cover.clicked + .vid-img-slide-expand-cover {
        display: block;
    } 
}