.columns {
margin-bottom: 48px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns h1 {
  font-size: 2.188rem;
  line-height: 3.125rem;
}

.columns h2 {
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.columns h3 {
  font-size: 1.438rem;
  line-height: 2.25rem;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.left .button-container,
.columns.left
{
  text-align: left;
}

.columns.right .button-container,
.columns.right
{
  text-align: right;
}

.columns.center .button-container,
.columns.center
{
  text-align: center;
}

.columns.left .button-container> .align-icon {
  justify-content: left;
}

.columns.right .button-container > .align-icon {
  justify-content: right;
}

.columns.center .button-container > .align-icon {
  justify-content: center;
}

.columns-wrapper > .columns.right > div > div > h1, 
.columns-wrapper > .columns.right > div > div > h2, 
.columns-wrapper > .columns.right > div > div > h3, 
.columns-wrapper > .columns.right > div > div > h4, 
.columns-wrapper > .columns.right > div > div > h5, 
.columns-wrapper > .columns.right > div > div > h6 {
  text-align: right;
}

.columns-wrapper > .columns.left > div > div > h1, 
.columns-wrapper > .columns.left > div > div > h2, 
.columns-wrapper > .columns.left > div > div > h3, 
.columns-wrapper > .columns.left > div > div > h4, 
.columns-wrapper > .columns.left > div > div > h5, 
.columns-wrapper > .columns.left > div > div > h6 {
  text-align: left;
}

.columns-wrapper > .columns.center > div > div > h1, 
.columns-wrapper > .columns.center > div > div > h2, 
.columns-wrapper > .columns.center > div > div > h3, 
.columns-wrapper > .columns.center > div > div > h4, 
.columns-wrapper > .columns.center > div > div > h5, 
.columns-wrapper > .columns.center > div > div > h6 {
  text-align: center;
}

.columns .image {
    margin-bottom: 24px;
}

.columns .button {
    margin-top: 32px;
}

.columns p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (width >=360px) and (width < 768px) {
  .columns h1 {
      font-size: 1.75rem;
      line-height: 2.625rem;
      margin-top: 0.5rem;
    }
  
    .columns h2 {
      font-size: 1.438rem;
      line-height: 2rem;
      margin-top: .5rem;
    }
  
    .columns h3 {
      font-size: 1.188rem;
      line-height: 1.75rem;
      margin-top: 0.25rem;
    }

    .columns p {
      font-size: 1rem;
      line-height: 1.625rem;
    }
}

@media (width >=768px) and (width < 1280px) {
  .columns h1 {
      font-size: 1.813rem;
      line-height: 2.5rem;
      margin-top: 0.5rem;
    }
  
    .columns h2 {
      font-size: 1.563rem;
      line-height: 2.25rem;
      margin-top: .5rem;
    }
  
    .columns h3 {
      font-size: 1.25rem;
      line-height: 1.875rem;
      margin-top: 0.25rem;
    }

    .columns p {
      font-size: 1.063rem;
      line-height: 1.75rem;
    }
}

@media (width >=1920px) {
  .columns h1 {
      font-size: 2.813rem;
      line-height: 3.875rem;
      margin-top: 1rem;
    }
  
    .columns h2 {
      font-size: 2.125rem;
      line-height: 3rem;
      margin-top: .5rem;
    }
  
    .columns h3 {
      font-size: 1.563rem;
      line-height: 2.375rem;
      margin-top: .5rem;
    }
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns .image {
    margin-bottom: 20px;
  }

  .columns .button {
    margin-top: 24px;
  }

}
