/* accordion */
.accordion details {
    border-top: .0625rem solid #e6e6e6;
    border-bottom: .0625rem solid #e6e6e6;
    margin-top: -1px;
  }
  /* stylelint-disable-next-line no-descending-specificity */
  .accordion details + details {
    margin-top: -1px;
  }
  
  .accordion details summary {
    font-size: 1.25rem;
    position: relative;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    font-weight: 700;
    line-height: 2rem;
    display: flex;
    min-height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
  }

  .accordion details summary>div {
    padding-right: 0.5rem;
    width: 100%;
  }
  
  .accordion details summary div p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .accordion details summary:hover {
    color : #1c69d4;
  }

  .accordion details summary::-webkit-details-marker {
    display: none;
  }
  
  .accordion details summary::after {
    content: "";
    transform: translateY(-50%) rotate(135deg);
    width: 0.625rem;
    height: 0.563rem;
    border: 0.125rem solid;
    border-width: 0.125rem 0.125rem 0 0;
    transition: transform 0.2s;
    margin: 0.5rem;
  }
  
  .accordion details[open] summary::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  
  .accordion details .accordion-item-body {
    padding: .75rem .5rem 3rem;
  }

  .accordion details .accordion-item-body p {
    margin: 0;
  }