.filter-title {
    margin: 1.5rem 0;
}

.filter-btn-row {
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
    margin-left: -1.5rem;
    margin-top: -.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: .25rem 1.5rem;
    width: calc(100% + 1.5rem);
}

.filter-btn {
    background: transparent;
    box-shadow: inset 0 0 0 1px #bbb;
    color: var(--light-border-color);

    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 0.9375rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.5rem;
    margin-right: .5rem;
    min-height: 2.25rem;
    padding: 0 1rem;
    text-align: center;
    transition: all .25s ease-in-out;
    white-space: nowrap;
    border-radius: 0;
}

.filter-btn:focus {
    background: transparent;
}

.filter-btn:hover {
    box-shadow: inset 0 0 0 1px var(--light-text-color);
    color: var(--light-text-color);
    background: transparent;
}

.filter-btn.active {
    background: var(--medium-text-color);
    color: var(--light-grey);
}

.toggle-icon {
    transform: rotate(45deg);
}

.filter-btn-icon {
    margin-right: 0.5rem;
}

.filter-btn-icon::before {
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "plus";
    direction: ltr;
    display: block;
    font-family: bmw_next_icons;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
    width: auto;
}

.overlay-wrap {
    margin-bottom: 1.25rem;
}

.show-more-btn {
    min-height: 2.25rem;
    width: max-content;
    background: transparent;
    color: var(--light-text-color);
    padding: 0;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.show-more-btn:hover {
    background: transparent;
    color: var(--medium-text-color);
}

.show-more-icon::before {
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "arrow_chevron_right";
    direction: ltr;
    display: block;
    font-family: bmw_next_icons;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1;
    margin-left: -.25rem;
    outline: 1px solid transparent;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
    width: auto;
}

.number-overlay {
    color: var(--light-text-color);
    display: inline-flex;
    font-size: var(--body-2-font-size);
    font-weight: var(--default-font-weight);
    line-height: var(--body-2-line-height);
    margin-bottom: 1rem;
}

.total-number {
    text-decoration: underline;
}

.content-navigation-active .content-nav-selected-value::before {
    left: 0;
    z-index: 100;
}

.content-nav-selected-value {
    background-color: #fffffff2;
    color: var(--light-text-color);
    align-items: center;
    border: 0;
    border-radius: 3px;
    box-shadow: inset 0 0 0 var(--border-width, 0) var(--border-color, unset);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: -1rem;
    min-height: 3.25rem;
    padding: .25rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: none;
    width: calc(100% + 1rem);
    z-index: 10;
}


.content-navigation .content-nav-selected-value:hover {
    background-color: #fffffff2;
}

.content-navigation.content-navigation-active .content-nav-selected-value {
    background-color: #fff;
    color: #262626;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-width, 0) var(--border-color, unset);
    margin-left: 0;
    padding: .25rem 1.5rem;
    width: 100%;
}

.content-navigation .content-nav-selected-value::before {
    background-color: #e6e6e6;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: -1.5rem;
    position: absolute;
    width: calc(100% + 2rem);
}

.content-navigation-active .content-nav-selected-value:after {
    transform: rotate(-180deg);
}

.content-nav-selected-value:after {
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "arrow_chevron_down";
    direction: ltr;
    display: block;
    display: inline-flex;
    font-family: bmw_next_icons;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1;
    margin-right: -1rem;
    outline: 1px solid #0000;
    position: relative;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-transform: none;
    transition: transform .5s ease-in-out;
    white-space: nowrap;
    width: auto;
}

.nav-background {
    display: block;
    height: calc(100% + 1px);
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: opacity .25s ease-in;
    width: 100vw;
    z-index: -10;
}

.content-navigation {
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 6020;
    width: 100%
}

.content-navigation .nav-arrow-left {
    cursor: pointer;
    display: none;
    font-size: 2rem;
    height: 100%;
    left: 0;
    position: absolute;
    visibility: hidden;
    z-index: 10;
    align-items: center;
}

.content-navigation .nav-arrow-right {
    cursor: pointer;
    display: none;
    font-size: 2rem;
    height: 100%;
    right: 0;
    position: absolute;
    visibility: hidden;
    z-index: 10;
    align-items: center;
}

.content-navigation .nav-arrow-left:before {
    font-size: 1.25rem;
    font-weight: 400;
    word-wrap: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "arrow_chevron_left";
    direction: ltr;
    display: block;
    font-family: bmw_next_icons;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid #0000;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
}

.content-navigation .nav-arrow-right:before {
    font-size: 1.25rem;
    font-weight: 400;
    word-wrap: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "arrow_chevron_right";
    direction: ltr;
    display: block;
    font-family: bmw_next_icons;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid #0000;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
}

.content-navigation.content-navigation-active {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.content-navigation-active .nav-background {
    background-color: #000c;
    opacity: 1;
    position: fixed;
}

.content-navigation-active .navbar-wrap {
    clip-path: inset(0 0 0 0);
    height: 100%;
    visibility: visible;
}

.navbar-wrap {
    clip-path: inset(0 0 100% 0);
    overflow-x: hidden;
    overflow: hidden;
    position: absolute;
    transition: clip-path ease-in;
    transition-delay: .1s;
    transition-duration: .4s;
    visibility: hidden;
    width: 100%;
    will-change: clip-path;
}

.nav-list.mobile-only {
    float: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    width: 100%;
}

.content-navigation-active .nav-list {
    background-color: #fff;
    max-height: calc(100% - 3rem);
    overflow-y: auto;
    padding: 1rem 0 1.25rem;
    margin-top: 0;
}

.nav-list {
    color: var(--light-border-color);
    background-color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    float: left;
    left: 0;
    list-style: none;
    overflow: hidden;
    transition: padding .25s ease-in;
    white-space: nowrap;
    width: 100%;
}

.nav-list-item {
    width: auto;
}


.content-navigation-active .nav-list-button-active {
    border-left: .25rem solid #4d4d4d;
    outline: none;
    padding: .75rem 1.25rem;
}

.content-navigation-active .nav-list-button:focus {
    border-left: .25rem solid #4d4d4d;
    outline: none;
    padding: .75rem 1.25rem;
}

.content-navigation-active .nav-list-button {
    padding: .75rem 1.5rem;
    pointer-events: all;
}

.content-navigation-active .nav-list-button:hover {
    background-color: #0000;
    color: #666;
}

.nav-list-button {
    align-items: center;
    border: 0;
    border-color: #0000;
    border-radius: 3px;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-width, 0) var(--border-color, unset);
    cursor: pointer;
    display: inline-flex;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    margin-bottom: 0;
    min-height: 3.25rem;
    padding: 0.75rem 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: #0000;
    color: var(--light-border-color);
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5rem;
}

/*Filter Popover Styles started*/
.filter-overlay-wrap {
    display: none;
}

.filter-overlay-wrap.active .show-more-btn {
    display: none;
}

.filter-overlay-wrap.active {
    -webkit-overflow-scrolling: auto;
    align-items: flex-start;
    background: rgba(0, 0, 0, .8);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 6050;
}

.filter-overlay-wrap .filter-content {
    background: var(--background-color);
    margin: auto;
    min-height: 100vh;
    padding: 1.5rem 0 0;
    position: relative;
    width: 100%
}

.filter-overlay-wrap .filter-heading,
.filter-overlay-wrap .filter-body,
.filter-overlay-wrap .filter-footer {
    background: inherit;
    padding: 0 1.5rem 1.5rem
}

.filter-overlay-wrap .filter-group {
    border: 0;
    margin: 0 0 1.5rem;
    padding: 0
}

.filter-overlay-wrap .filter-group-heading {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 1rem
}

.filter-overlay-wrap .filter-checkbox {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    flex: 1 1 100%;
    margin-bottom: .6875rem;
    padding-top: .3125rem
}

.filter-overlay-wrap .filter-checkbox label {
    cursor: pointer;
    display: flex;
    font-size: .9375rem;
    line-height: 1.5rem;
    padding-left: 2.5rem;
    width: 100%;
}

.filter-overlay-wrap .filter-checkbox input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.filter-overlay-wrap .filter-checkbox-icon {
    background-color: initial;
    border: .125rem solid var(--light-bbb);
    color: var(--background-color);
    height: 1.25rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: background-color .25s ease-in-out, border .25s ease-in-out;
    width: 1.25rem;
    top: auto;
}

.filter-overlay-wrap .filter-checkbox input:checked+.filter-checkbox-icon {
    background-color: var(--medium-text-color);
    border-color: transparent
}

.filter-overlay-wrap .filter-checkbox input:checked+.filter-checkbox-icon:after {
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "checkmark";
    direction: ltr;
    display: block;
    font-family: bmw_next_icons;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    font-weight: 400;
}

.filter-overlay-wrap .filter-footer button {
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    display: flex;
    min-height: 3.25rem;
    min-width: 12rem;
    padding: .25rem;
    text-align: center;
    color: var(--light-text-color);
    border-radius: 0px;
}

.filter-overlay-wrap .show-filter-btn {
    box-shadow: inset 0 0 0 1px var(--light-text-color);
    justify-content: center;
}

.filter-overlay-wrap .filter-trash-icon {
    margin-right: .25rem;
}

.filter-overlay-wrap .filter-group-body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
}

.filter-overlay-wrap .filter-footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 1rem;
    z-index: 30;
    border-top: 1px solid var(--light-grey-1);
    position: -webkit-sticky;
    position: sticky;
    padding: 1rem 1.5rem 0;

    bottom: 0;

}

.filter-overlay-wrap .filter-close-button {
    background-color: initial;
    color: var(--light-text-color);
    height: 3rem;
    margin-top: 68px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
}

.filter-overlay-wrap .filter-close-button:before {
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "close";
    direction: ltr;
    display: block;
    display: inline-block;
    font-family: 'bmw_next_icons';
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
    width: auto;
}

.filter-overlay-wrap .clear-filter-btn span:before {
    font-size: 1rem;
    font-weight: 400;
}

.filter-overlay-wrap .clear-filter-btn {
    justify-content: center;
}

.all-model-group-list {
    display: grid;
}

.all-model-card-container {
    cursor: pointer;
    margin: 1rem 0 .5rem;
    pointer-events: none;
    position: relative;
}

.all-model-group-title {
    margin-top: -3.25rem;
    padding: 4.75rem 0 .5rem;
    font-family: var(--fixed-font-family);
    font-size: 19px;
    line-height: 28px;
    color: #262626;
    font-weight: 300;
}

.all-model-card-btn {
    outline: none;
    bottom: -.5rem;
    height: calc(100% + 1rem);
    left: -.5rem;
    pointer-events: all;
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    width: calc(100% + 1rem);
    background: none !important;
    padding: 0;
    border: none;
}

.all-model-detail-model-name {
    color: #262626;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
    padding: .75rem 0 .25rem;
    font-family: var(--fixed-font-family);
}

.all-model-detail-model-fuel {
    margin: 0;
    color: #4d4d4d;
    padding-bottom: .25rem;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    font-family: var(--fixed-font-family);
}

.all-model-detail-model-price {
    color: #262626;
    font-size: 14px;
    font-weight: 700;
    font-weight: 22px;
    margin: 0;
}

.all-model-group-container {
    border-top: 1px solid #e6e6e6;
    padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .content-nav-selected-value {
        display: none;
    }

    .nav-background {
        background-color: #fffffff2;
        border-bottom: .0625rem solid var(--light-grey-1);
        opacity: 1;
        transition: none;
    }

    .content-navigation {
        flex-direction: row;
    }

    .navbar-wrap {
        clip-path: none;
        height: 4rem;
        position: relative;
        visibility: visible;
        width: auto;
    }

    .nav-list {
        background-color: initial;
        display: flex;
        flex-direction: row;
        height: inherit;
        padding: 0;
        position: relative;
        transition: none;
        width: auto;
        margin: 0;
    }

    .nav-list-item {
        min-height: 100%;
        width: auto;
    }

    .nav-list-button {
        border-color: #0000;
        border-style: solid;
        border-width: .25rem 0;
        font-size: var(--body-2-font-size);
        font-weight: var(--clickable-font-weight);
        justify-content: center;
        line-height: var(--body-2-line-height);
        margin: 0;
        min-width: 0;
        padding: 0 1rem;
        pointer-events: all;
        width: auto;
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 1.5rem;
    }

    .nav-list-button:hover {
        border-bottom-color: var(--medium-text-color);
        background: #0000;
    }

    .content-navigation.arrow-left-active .navbar-wrap {
        -webkit-mask: linear-gradient(90deg, #fff0 0, #fff0 35px, #fff 107px);
        mask: linear-gradient(90deg, #fff0 0, #fff0 35px, #fff 107px);
    }

    .content-navigation.arrow-right-active .navbar-wrap {
        -webkit-mask: linear-gradient(270deg, #fff0 0, #fff0 35px, #fff 107px);
        mask: linear-gradient(270deg, #fff0 0, #fff0 35px, #fff 107px);
    }

    .content-navigation .nav-arrow-left {
        display: flex;
    }

    .content-navigation .nav-arrow-right {
        display: flex;
    }

    .filter-overlay-wrap .filter-heading,
    .filter-overlay-wrap .filter-body {
        padding: 0 3rem 1.5rem
    }

    .filter-overlay-wrap .filter-footer {
        column-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem 3rem 1.5rem;

    }

    .filter-overlay-wrap .filter-close-button {
        margin: .5rem;
    }

    .filter-overlay-wrap .filter-checkbox {
        flex: 1 1 45%;
    }

    .filter-overlay-wrap .filter-content {
        min-height: 24rem;
        padding: 3rem 0 0
    }

    .filter-overlay-wrap .clear-filter-btn {
        justify-content: flex-start;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        padding-left: .5rem;
    }

    .all-model-group-title {
        margin-top: -4rem;
        padding: 6rem 0 .5rem;
        font-size: 20px;
        line-height: 30px;
    }

    .all-model-card-btn {
        height: calc(100% - 4rem);
        top: 4.5rem;
    }

    .all-model-detail-model-name {        
        padding: .25rem 0;
    }

    .all-model-group-list {
        grid-gap: 0 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 1024px) {
    .filter-overlay-wrap .filter-content {
        max-width: 54rem;
        min-width: 39.2727272727rem;
        width: 50%
    }

    .all-model-group-title {
        margin-top: -4rem;
        padding: 6rem 0 1rem;
        font-size: 20px;
        line-height: 30px;
    }

    .all-model-group-list {
        grid-gap: 0 1.5rem;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .all-model-group-title {
        font-size: 23px;
        line-height: 36px;
    }

    .all-model-detail-model-name {        
        font-size: 15px;
        font-weight: 24px;
    }

    .all-model-detail-model-price {        
        font-size: 15px;        
        font-weight: 24px;
    }
}

@media screen and (min-width: 1920px) {
    .all-model-group-title {
        font-size: 25px;
        line-height: 38px;
    }

    .all-model-detail-model-name {        
        font-size: 16px;
        font-weight: 26px;
    }

    .all-model-detail-model-price {        
        font-size: 16px;        
        font-weight: 26px;
    }
}
