
.video-container.bmw-video-container {
    padding: 0;
}

.video-wrapper,.bmw-video-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.video, .bmw-video {
  position: relative;
  text-align: center;
  width: 100%;
}

.bmw-video > div {
  width: 100vw !important;
}

.video.lazy-loading {
  /* reserve an approximate space to avoid extensive layout shifts */
  aspect-ratio: 16 / 9;
}

.video-js {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.video-js video {
  background-color: var(--light-text-color);
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.video video[data-loading] {
  /* reserve an approximate space to avoid extensive layout shifts */
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video .video-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video .video-placeholder>* {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.video-js .vjs-poster img {
  height: 100%;
  object-fit: cover;
  opacity: 0;
  left: 0;
  position: absolute;
  transition: opacity 0s, .5s;
  width: 100%;
}

.video .video-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .video-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 1.375rem;
  height: 1.375rem;
  border: 0.125rem solid;
  border-radius: 1.25rem;
  padding: 0;
}

.video .video-placeholder-play button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0.625rem;
  border-top: 0.313rem solid transparent;
  border-bottom: 0.313rem solid transparent;
  border-left: 0.375rem solid;
  top: 0.25rem;
  left: 0.438rem;
}

.video-js:hover {
  cursor: pointer;
}

.video-wrapper .video-js .vjs-control-bar {
  background-color: unset;
}

.video-js .vjs-poster:hover {
  z-index: -1;
}

.video-js[data-autoplay="true"] .vjs-poster {
  z-index: -1;
}

.video-js.vjs-playing .vjs-poster {
  opacity: 0;
}

.video-js.vjs-paused .vjs-poster {
  opacity: 1;
}

.video-js .vjs-control-bar::before {
  background: linear-gradient(0deg, #000, transparent);
  bottom: 0;
  content: "";
  display: block;
  height: 6rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 0;
}

.video-js .vjs-big-play-button {
  margin-left: -4.5em;
  border: none !important;
  background: none;
  background-color: unset !important;
  border-radius: unset !important;
}

.video-js.vjs-has-started.vjs-playing .vjs-big-play-button {
  display: none;
}

.video-js.vjs-has-started.vjs-paused .vjs-big-play-button {
  display: block;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder::before,
.video-js .vjs-icon-play::before,
.video-js .vjs-play-control .vjs-icon-placeholder::before {
  content: "play" !important;
  font-family: "bmw_next_icons", arial, helvetica, roboto, sans-serif !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  content: "play";
  color: var(--background-color);
  font-size: 4rem;
  direction: ltr;
  display: block;
  font-family: "bmw_next_icons", arial, helvetica, roboto, sans-serif !important;
  font-style: normal;
  font-weight: 400;
  height: 1em;
  line-height: 1;
  outline: 1px solid transparent;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  width: auto;
}

.video-js.vjs-playing .vjs-big-play-button .vjs-icon-placeholder::before {
  content: "" !important;
}

.video-js.vjs-has-started.vjs-playing .vjs-icon-play::before,
.video-js.vjs-has-started.vjs-playing .vjs-play-control .vjs-icon-placeholder::before {
  content: "pause" !important;
}

.video-js .vjs-control-bar .vjs-picture-in-picture-control.vjs-control.vjs-button {
  display: none;
}

.video-js .vjs-icon-fullscreen-enter {
  pointer-events: auto;
}

.video-js .vjs-fullscreen-control.vjs-control.vjs-button span.vjs-icon-placeholder::before {
  word-wrap: normal;
  content: 'arrows_maximize' !important;
  font-size: 1.25rem;
  top: 0.25rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  direction: ltr;
  display: block;
  font-family: "bmw_next_icons", arial, helvetica, roboto, sans-serif !important;
  font-style: normal;
  height: 1em;
  line-height: 1;
  outline: 1px solid transparent;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  width: auto;
}

/* desktop */
@media (width >=1280px) {
  .video-js {
    width: 100%;
  }
}

@media (width >=1920px) {
  .video-container.bmw-video-container {
    padding-left: calc((100vw -(var(--max-component-width) -(var(--section-desktop-padding)* 2))) / 2);
    padding-right: calc((100vw -(var(--max-component-width) -(var(--section-desktop-padding)* 2))) / 2);
}
}
