/* header and nav layout */

.content-page {
  width: 100%;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  background-color: #0006;
}

header {
  min-width: 100%;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 1111;
  position: relative;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 1.5em;
  height: 5.25rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
  align-items: baseline;
}

header.transparent .nav-wrapper .logo-wrapper .white-image {
  display: none;
}

header.white-background .nav-wrapper .logo-wrapper .white-image {
  display: block;
}

header.transparent .nav-wrapper .logo-wrapper .grey-image {
  display: block;
}

header.transparent .subnavigation-text-wrapper {
  display: none;
}

header.white-background .nav-wrapper .logo-wrapper .grey-image {
  display: none;
}


/* Mobile */

@media (width >= 360px) and (width < 768px) {
  header nav { 
    display: block;
    min-height: 4.25rem;
    height: auto;
    transition: min-height 0s linear .15s;
  }

  .logo-wrapper img {
    width: 2.25rem;
    height: 2.25rem;
  }
  
  .header nav[aria-expanded="true"] .nav-brand .subnavigation-text-wrapper + .menu-link-wrapper::before {
    position: absolute;
    width: 100%;
    left: 0%;
    border-top: 0.063rem solid var(--light-bbb);
    content: " ";
    top: -1.875rem;
  }

  header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 1.375rem;
    position: absolute;
    top: -0.313rem;
    right: -0.25rem;
  }

  header nav[aria-expanded="false"] .nav-hamburger button {
    position: absolute;
    right: 1.5rem;
    top: 1.625rem;
  }

  header nav[aria-expanded="true"] .icon-location {
    display: none;
  }

  header nav[aria-expanded="false"] .icon-search {
    position: absolute;
    right: 4.375rem;
    top: 2.063rem;
  }

  header nav[aria-expanded="true"] .icon-search {
    display: none;
  }

  header .nav-wrapper {
    position: relative;  
    overflow: hidden; 
  }

  header nav[aria-expanded="false"] .logo-wrapper {
    position: absolute;
    top: 1.25rem;
    left: 1.438rem;
  }

  header nav[aria-expanded="false"] .menu-link-wrapper {
    display: none;
  }

  header nav[aria-expanded="true"] .menu-link-wrapper,
  header nav[aria-expanded="true"] .menu-flyout-wrapper
  {
    display: block;
    position: relative;
    top: 6.25rem;
    padding: .75rem 3.5rem;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.375rem;
  }

  header nav[aria-expanded="true"] .menu-link-wrapper a,  
  header nav[aria-expanded="true"] .menu-flyout-wrapper{
   color: var(--light-border-color);
   text-decoration: none;
   font-size: 0.875rem;
  }

  header nav[aria-expanded="true"] .logo-wrapper {
      position: absolute;
      top: 1.25rem;
      left: 1.375rem;
      z-index: 2;
    }

  header nav .nav-brand img {
    width: 2.25rem;
    height: 2.25rem;
  }

  header nav[aria-expanded="true"] {
    margin: 0;
    transition: min-height 0s linear 0s
  }

  header nav[aria-expanded="true"] .nav-hamburger {
    position: absolute;
    right: 1.688rem;
    top: 1.875rem;
    z-index: 2;
  }
 
  header .section.nav-tools .icon img {
    height: 1.25rem;
    width: 1.25rem;
  }

  header nav[aria-expanded="true"] .section.nav-tools .icon img {
    left: 7.813rem;
    top: 0.188rem;
  }

  header nav .section .default-content-wrapper ul li {
    padding: 0.75rem 0;
    color: var(--light-border-color);
    font-size: 1rem;
  }

  header nav .section .default-content-wrapper .button-container a.button {
    color:  var(--light-border-color);
    background-color: transparent;
    padding: 0.75rem 0;
    margin: 0;
    font-weight: 700;
    line-height: 1.5rem;
  }

  header nav .section ul, header nav .section p {
    width: 83.3333%;
    margin: 0 auto;
  }

  header nav[aria-expanded="true"] .menu-flyout-wrapper .menu-flyout.block p{
    margin: 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  .header nav .section .default-content-wrapper {
    padding: 1.75rem 1.5rem 0;
  }

  header.white-background .subnavigation-text-wrapper {
    display: none;
  }

  header.header-wrapper.white-background {
    position: absolute;
    background: transparent;
    width: 100%;
  }

  header.header-wrapper.white-background  nav[aria-expanded="false"] .nav-hamburger button {
    background-color: transparent;
    color : var(--background-color);
  }

  header.header-wrapper.white-background .nav-wrapper {
    background-color: transparent;
  }

  header.header-wrapper.white-background .nav-wrapper nav[aria-expanded="true"] {   
    scrollbar-width: none;
  }

  header.header-wrapper.white-background nav[aria-expanded="true"] .logo-wrapper .grey-image {
    display: block;
  }

  header.header-wrapper.white-background nav[aria-expanded="true"] .logo-wrapper .white-image {
    display: none;
  }

  header nav[aria-expanded="false"] .nav-tools .default-content-wrapper .icon-location {
    display: none;
   }

   header nav .icon-link-list-container .icon-container .search {
    position: absolute;
    top: 1.688rem;
    right: 4.375rem;
   }

   header nav[aria-expanded="true"] .icon-link-list-container .icon-container .search {
   display: none;
   }

   header nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
  }

  header.white-background nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--background-color);
    font-weight: 400;
  }

  /* flyout css mobile code */ 
  
  header nav[aria-expanded="true"] .nav-brand.mobile-flyout > .menu-link-wrapper {
    display: none;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .flyout-wrapper {
   display: flex;
   border-top: 0.063rem solid var(--light-bbb);
   position: sticky;
   top: 0;
   height: auto;
   overflow-y: scroll;    
  }
  
  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .flyout-main-container {   
    width: 100%;
    position: relative;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .flyout-wrapper .flyout-main-container {
   padding: 2rem 1rem 1.5rem;
   box-sizing: border-box;
  }
  
  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly {
    position: absolute;
    border-top: 0.063rem solid var(--light-bbb);
    padding: 0;
    display: block;
    background: var(--background-color);
    top: 4.3rem;
    width: 100vw;
  }

   header.header-wrapper .nav-brand .menu-flyout-wrapper:last-child .link-list-wrapper.vertical .link-list .link-list-title {
    margin-bottom: 0 !important;
   }

   header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly::after {
    display: none;
   }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title {
    color: var(--light-text-color);
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    cursor: pointer;
    letter-spacing: 0;
    margin-bottom: 1.5rem;
    line-height: 22px;
    position: relative;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title::after{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "arrow_chevron_down";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1;
    transform: translate(25%, -50%);
    transition: transform .5s ease-in-out;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    width: auto;
    position: absolute;
    right: 0;
    top: 0.625rem;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title:hover,
  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list .link-list-title:hover::after,
  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title:active {
    color: var(--light-link-hover-color);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title:hover::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "arrow_chevron_down";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1;
    transform: translate(25%, -50%);
    transition: transform .5s ease-in-out;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    position: absolute;
    right: 0;
    top: 0.625rem;
   }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout .flyout-main-container .flyout-link-list {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    font-size: .875rem;
    font-weight: 700;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout .flyout-main-container .flyout-link-list .link-list .link-list-detail {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .flyout-link-list .link-list .link-list-title.expand::after{
    transform: translate(25%, -50%) rotate(-180deg);
    color: var(--light-text-color);
  }
 
  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .menu-flyout.block span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    color: #262626;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .menu-flyout.block span::before{
    content: "arrow_chevron_left";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1;
    position: absolute;
    left: 1.5rem;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .menu-teaser-image p {
    width: 100%;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .menu-teaser-image p img {
    width: 100%;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .menu-flyout .flyout-main-container .flyout-menu-teaser {
    width: 100%;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper {
    display: none;
  }

  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .copy-text{
   margin-bottom: 1rem;
  }

  header nav .menu-link-wrapper .menu-link a,
  header nav .menu-flyout-wrapper .menu-flyout-link {
   font-size: 0.875rem;
   cursor: pointer;
   line-height: 22px;
   font-weight: 500;
  }

  header nav .menu-wrapper {
    left: -100vw;
    transition: left .15s cubic-bezier(0,.5,.5,1);
    position: absolute;
    width: 100vw;
    z-index: 1;
    min-height: 100vh;
    background-color: var(--background-color);
  } 

  header nav[aria-expanded="true"] .menu-wrapper {
    left: 0;
  } 

}

/* IPAD */
@media (width >= 768px) and (width < 1280px) {
  .header nav[aria-expanded="true"] .nav-brand .subnavigation-text-wrapper + .menu-link-wrapper::before {
    position: absolute;
    width: 100%;
    left: 0%;
    border-top: 0.063rem solid var(--light-bbb);
    content: " ";
    top: -2.188rem;
  }

  header nav[aria-expanded="false"] .logo-wrapper,
  header nav[aria-expanded="true"] .logo-wrapper {
    position: absolute;
    top: 0;
    left: 2.813rem;
    z-index: 2;
  }

  header .nav-wrapper nav {
    transition: min-height 0s linear .15s;
  }
  
  header .nav-wrapper nav[aria-expanded="false"] {
    min-height: 5.313rem;   
  }

  header .nav-wrapper nav[aria-expanded="true"] {
    display: block;
    min-height: 100vh;
    align-items: baseline;
    margin: 0;
    transition: min-height 0s linear 0s;
  }

  header nav .menu-wrapper {
    left: -100vw;
    transition: left .15s cubic-bezier(0,.5,.5,1);
    position: absolute;
    width: 100vw;
    z-index: 1;
    min-height: 100vh;
    background-color: var(--background-color);
    top: 0;
  }

  header nav[aria-expanded="true"] .menu-wrapper {
    left: 0;
  }

  header nav .nav-brand .logo-wrapper img {
    width: 3.25rem;
    height: 3.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  header nav .nav-hamburger {
    position: absolute;
    right: 3.5rem;
    z-index: 2;
  }
  
  header nav .section .default-content-wrapper .button-container a.button {
    color: var(--light-border-color);
    background-color: transparent;
    padding: 0.75rem 0;
    margin: 0;
    font-weight: 700;
    line-height: 1.5rem;
  }

  header nav[aria-expanded="false"] .menu-link-wrapper{
    display: none;
  }
  
  header nav[aria-expanded="true"] .menu-link-wrapper,
  header nav[aria-expanded="true"] .menu-flyout-wrapper {
    display: block;
    position: relative;
    top: 7.5rem;
    padding: .55rem 7rem;
    color: var(--light-border-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 22px;
    font-weight: 500;
  }

  header nav[aria-expanded="true"] .menu-link-wrapper a {
    color: var(--light-border-color);
    padding: 0.75rem 0;
    font-size: 0.875rem;
    line-height: 1.375rem;    
    font-weight: 500;
  }

  header nav[aria-expanded="true"] .menu-link-wrapper a:hover,
  header nav[aria-expanded="true"] .menu-flyout-link:hover {
    color: var(--light-text-color);
    text-decoration: none;
  }

  header nav[aria-expanded="false"] .nav-tools .default-content-wrapper .icon-search {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    right: 5.625rem;
    top: 2.063rem;
  }

  header nav[aria-expanded="false"] .nav-tools .default-content-wrapper .icon-location {
   display: none;
  }

  header nav[aria-expanded="true"] .logo-wrapper .bmw-logo img {
    position: absolute;
    top: 0.938rem;
  }

  header nav[aria-expanded="true"] .nav-hamburger-icon {
    top: 2.063rem;
    width: 1.25rem;
    right: 0;
  }
 
  header.white-background .subnavigation-text-wrapper{
    display: none;
  }

  header nav[aria-expanded="true"] .nav-tools .default-content-wrapper .icon-search, header nav[aria-expanded="true"] .nav-tools .default-content-wrapper .icon-location {
    display: none;
  }

  header nav[aria-expanded="true"] .nav-tools .default-content-wrapper .icon-location {
    display: none;
  }

  header.header-wrapper.white-background {
    position: absolute;
    background: transparent;
    width: 100%;
  }

  header.header-wrapper.white-background  nav[aria-expanded="false"] .nav-hamburger button {
    background-color: transparent;
    color : var(--background-color);
  }

  header.header-wrapper.white-background .nav-wrapper {
    background-color: transparent;
  }


  header.header-wrapper.white-background nav[aria-expanded="true"] .logo-wrapper .grey-image {
    display: block;
  }

  header.header-wrapper.white-background nav[aria-expanded="true"] .logo-wrapper .white-image {
    display: none;
  }

  header nav .icon-link-list-container .icon-container .search {
    position: absolute;
    top: 2.063rem;
    right: 6.25rem;
   }

   header nav[aria-expanded="true"] .icon-link-list-container .icon-container .search {
   display: none;
   }
 
  header nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
  }

  header.white-background nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--background-color);
    font-weight: 400;
  }

  header nav[aria-expanded="false"] .menu-flyout-wrapper {
    display: none;
}

header nav[aria-expanded="true"] .menu-flyout-wrapper .flyout-wrapper {
    display: none;
}

header nav[aria-expanded="true"] .menu-flyout-wrapper .menu-flyout.block p{
  margin: 0;
  position: relative;
  z-index: 2;
}

header nav[aria-expanded="true"] .menu-flyout-wrapper::after {       
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: " arrow_chevron_right";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
    position: absolute;
    right: 7rem;
    top: 0.75rem;
    z-index: 1;
}

/* flyout css ipad code */ 
header nav[aria-expanded="true"] .nav-brand.mobile-flyout > .menu-link-wrapper {
  display: none;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .flyout-wrapper {
 display: flex;
 border-top: 0.063rem solid var(--light-bbb);
 padding: 0 5.5rem;
 position: sticky;
  top: 0;
  height: auto;
  overflow-y: scroll;
  
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .flyout-wrapper.bmw-info{
  display: flex;
  border-top: 0.063rem solid var(--light-bbb);
  padding: 0;
  position: sticky;
  top: 0;
  height: auto;
  overflow-y: scroll;
   
 }

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly {
  position: absolute;
  border-top: 0.063rem solid var(--light-bbb);
  padding: 0;
  display: block;
  background: var(--background-color);
  top: 4.3rem;
  width: 100vw;
 }

 header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly::after {
  display: none;
 }

 header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title {
  color: var(--light-text-color);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 1.5rem;
}

 header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper:last-child .link-list-wrapper.vertical .link-list-title {
  padding-right: 0;
  margin: 0 0 1rem;
  color: var(--light-text-color);
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 0.75rem;
  letter-spacing: 0.125rem;
  word-break: break-all;
  text-transform: uppercase;
 }

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title:hover,
header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title:active {
  color: var(--light-link-hover-color);
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  content: "arrow_chevron_down";
  direction: ltr;
  display: block;
  font-family: var(--icon-font-family);
  opacity: var(--iconfont400-opacity);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  height: 1em;
  line-height: 1;
  transform: translate(25%, -50%);
  transition: transform .5s ease-in-out;
  outline: 0.063rem solid transparent;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  width: auto;
  position: absolute;
  right: 0;
 }

 header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .flyout-wrapper.bmw-info .link-list-wrapper.vertical .link-list-title::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  content: " ";
  direction: ltr;
  display: block;
  font-family: var(--icon-font-family);
  opacity: var(--iconfont400-opacity);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  height: 1em;
  line-height: 1;
  transform: translate(25%, -50%);
  transition: transform .5s ease-in-out;
  outline: 0.063rem solid transparent;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  width: auto;
  position: absolute;
  right: 0;
 }

 header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .flyout-main-container {   
  width: 100%;
  position: relative;
  margin: 2rem 0 1.5rem;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout .flyout-main-container .flyout-link-list {
  width: 100%;
  margin: 0 auto;
  font-size: .875rem;
  font-weight: 700;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout .flyout-main-container .flyout-link-list .link-list .link-list-detail {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout .flyout-wrapper.bmw-info .flyout-main-container .flyout-link-list .link-list .link-list-detail {
  display: block;
  max-height: unset;
  margin-left: 0;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .flyout-link-list .link-list .link-list-title.expand::after{
  transform: translate(25%, -50%) rotate(-180deg);
  color: var(--light-link-color);
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .menu-flyout.block span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--light-text-color);
  line-height: 1.75rem;

}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .menu-flyout.block span::before{
  content: "arrow_chevron_left";
  direction: ltr;
  display: block;
  font-family: var(--icon-font-family);
  opacity: var(--iconfont400-opacity);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  height: 1em;
  line-height: 1;
  position: absolute;
  left: 2.5rem;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .menu-teaser-image p {
  width: 100%;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .menu-teaser-image p img {
  width: 100%;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .menu-flyout .flyout-main-container .flyout-menu-teaser {
  width: 100%;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper {
  display: none;
}

header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper .copy-text{
 margin-bottom: 1rem;
}
  

  
}

/* ipad pro */
@media (width >= 830px) and (width < 1280px) {
  header nav[aria-expanded="true"] .nav-brand.mobile-flyout .menu-flyout-wrapper.showfly .link-list-wrapper.vertical .link-list-title::after{
    display: none;
    content: " ";
  }
}

/* Desktop  */
@media (width >= 1280px) { 
  header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
    border-bottom: 0.094rem solid var(--light-bbb);
    padding: 0;
  }
  
  header nav .menu-link-container {
    position: relative;
    width: 100%;
    justify-content: baseline;
  }
  
  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
    align-items: center;
  }

  header nav[aria-expanded="true"] .icon-location {
    position: relative;
    right: 0;
    top: 0;
  }

  header nav[aria-expanded="true"] .logo-wrapper .bmw-logo img {
    position: relative;
  }

  header nav[aria-expanded="true"] .icon-search {
    position: relative;
    right: 0;
    top: 0; 
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav[aria-expanded="true"] .section {
    position: absolute;
    top: 0;
    height: unset;
    overflow:unset;
    background-color: transparent;
    width: auto;
    left: 7.5rem;
    padding: 0 2.813rem;
    border-top: none;
  }

  /** css for variation in header with white logo **/
  header.header-wrapper.white-background {
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 999;
  }

  .white-background header.header-wrapper.transparent {
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 999;
  } 

  header.header-wrapper.white-background .nav-wrapper {
    background-color: transparent;
  }

  header.white-background nav .section .menu-link-wrapper a,
  header.white-background nav .section .menu-flyout-wrapper span{
  color: var( --background-color);
  }

  header.white-background nav .section .menu-link-wrapper p.button-container a {
    color: var( --background-color);
  }

  header.white-background .subnavigation-text-wrapper {
    position: absolute;
    top: 5.5rem;
    color: var( --background-color);
    font-family: bmwTypeNextWeb,Arial,Helvetica,Roboto,sans-serif;
    font-size: 0.9375rem;
    display: block;
    left: 0;
  }

  header.white-background .subnavigation-text-wrapper p {
    margin: 0;
  }

  header.white-background .subnavigation-text-wrapper strong{
    font-weight: 700;
    padding-right: 0.313rem;
    
  }

  header.white-background nav {
    border-bottom: 0.094rem solid var(--background-color)
  }

  header nav .icon-link-list-container .icon-link-list-container .icon .icon-container,
  header.header-wrapper.white-background nav .icon-link-list-container .icon-link-list-container .icon .icon-container
  {
    padding: 1.688rem 0;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    display: block;
  }

  header.header-wrapper nav .icon-link-list-container .icon-link-list-container .icon.block:hover{
    border-bottom: .25rem solid var(--light-link-hover-color);
    border-top: .25rem solid transparent;
    color:transparent;
  }

  header nav .icon-link-list-container .icon-container .location::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "location_pin";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
  }
 
  header nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
  } 

  header.header-wrapper.white-background nav .icon-link-list-container .icon-container .location::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "location_pin";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color : var(--background-color);
    font-weight: 400;
  }
 
  header.header-wrapper.white-background nav .icon-link-list-container .icon-container .search::before { 
    content: "search";
    direction: ltr;
    display: block;
    font-family: var(--icon-font-family);
    opacity: var(--iconfont400-opacity);
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 0.063rem solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color : var(--background-color);
    font-weight: 400;
  }
 
   
  header.header-wrapper nav .nav-brand .icon-link-list-wrapper {
    position: absolute;
    right: 0;
  }

  header.header-wrapper nav .nav-brand .icon-link-list-wrapper .icon-link-list-container .icon {
    height: 100%;
    padding: 0 0.75rem;
  }

  header.header-wrapper nav .nav-brand .icon-link-list-wrapper .icon-link-list-container .icon .search {
   position: relative;
  }

  /* css for flyout */

  .flyout-main-container {
    background-color: var(--background-color);
    position: relative;
    left: 0;
    right: 0;
    padding: 2.5rem 0;
    height: auto;
    width: 100%;
    display: grid;
    columns: 4;
    grid-row-gap: 1.875rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: revert;
    padding-left: 5.25rem;
    padding-right: 5.25rem;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .15s cubic-bezier(.5,0,1,.5);
    transition-delay: 0s;
  }
  
  .menu-flyout .flyout-wrapper {
    position: fixed;
    z-index: 999;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    transition: transform .25s cubic-bezier(.5,0,.5,1) 0s, opacity .15s cubic-bezier(.5,0,1,.5) 0s, top 0s linear 0.25s;
  }

  .showfly .flyout-wrapper {
    overflow: visible;
    top: 5.25rem;
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0s, 0s, 0s;
    background-color: var(--background-color);
    height: auto;
  }

  .showfly .flyout-wrapper::before {
    opacity: 1;
  }

  .showfly .flyout-main-container {
    opacity: 1;
    transition-delay: .25s;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
  }

}

header nav .nav-hamburger button {
  height: 1.375rem;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--light-border-color);
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 1.25rem;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 0.125rem;
  border-radius: 0.125rem;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -0.375rem;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 0.375rem;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 1.375rem;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 0.188rem;
  left: 0.063rem;
  transform: rotate(45deg);
  transform-origin: 0.125rem 0.063rem;
  width: 1.5rem;
  height: 0.125rem;
  border-radius: 0.125rem;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 0.188rem;
  transform: rotate(-45deg);
}

header nav[aria-expanded="true"] .section {
  display: block;
  visibility: visible;
  align-self: start;
}

@media (width >= 1280px) {
  header nav .nav-brand picture {
    width: 3.25rem;
    height: 3.25rem;
    display: block;
  }
  
  header nav .nav-brand img {
    width: 3.25rem;
    height: 3.25rem;
  }

  header nav .section {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .section {
    align-self: unset;
  }

  header nav .section .nav-drop {
    position: relative;
    padding-right: 1rem;
    cursor: pointer;
  }

  header nav .section .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 0.125rem;
    transform: rotate(135deg);
    width: 0.375rem;
    height:  0.375rem;
    border: 0.125rem solid currentcolor;
    border-radius: 0 0.063rem 0 0;
    border-width: 0.125rem 0.125rem 0 0;
  }

  header nav .section .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .menu-link-container {
    display: flex;
    align-items: center;
  }
 
  header nav .logo-wrapper{
    margin-right: 1.5rem;
    position: relative;
    top: 0.031rem;
  }
  
  
  header nav .menu-link-wrapper .menu-link a,
  header nav .menu-flyout-wrapper .menu-flyout-link {
    padding: 1.688rem 0.75rem;
    text-decoration: none;
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    color:  var(--light-border-color);
    font-size: 0.9375rem;
    cursor: pointer;
    line-height: 1.5rem;
  }

  header nav .menu-link-wrapper .menu-link  a:hover,
  header nav .menu-flyout-wrapper .menu-flyout-link:hover {
    border-bottom: .25rem solid var(--light-link-hover-color);
    color: var( --light-text-color);
  }

  
  header nav .menu-flyout-wrapper.showfly .menu-flyout-link{
    border-bottom: .25rem solid var(--light-link-hover-color);
    color: var( --light-text-color);
  }

  .header-wrapper.white-background .menu-link-wrapper .menu-link a:hover {
    border-bottom: .25rem solid var(--light-link-hover-color);
    cursor: pointer;
    color: var(--background-color);
  }

  header nav .nav-tools .default-content-wrapper .icon {
    cursor: pointer;
    padding: 1.875rem 0.938rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}


/* mobile */
@media (width < 768px) {
  header nav {
    margin: 0 1.5rem;
    padding: 0;
  } 
}

/* tablet */
@media (width >= 768px){
  header nav {
    margin: 0 3rem;
    padding: 0;
  } 
}

/* desktop */
@media (width >= 1280px){
  header nav {
    margin: 0 6rem;
  } 
}

/* large desktop */
@media (width >= 1920px){
  header nav {
    max-width: var(--max-component-width);
    margin-left: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
    margin-right: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
  }

  header nav[aria-expanded="true"] .section {
    left: calc(100vw - (var(--max-component-width) - (2.813rem + 6rem)));
  }

  .showfly .flyout-main-container {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100%;
    width: 109.5rem !important;
    padding-left: 0;
    padding-right: 0;
  }

  header nav .menu-link-wrapper .menu-link a,
  header nav .menu-flyout-wrapper .menu-flyout-link {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

header.white-background .nav-wrapper::before {
  content: ' ';
  pointer-events: none;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8rem;

  /* stylelint-disable-next-line color-function-notation */
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 40%));
}