.technical-data-block {
    padding-top: 48px;
}

.techdata-selected-model-title {
    font-size: 23px;
    font-weight: 300;
    line-height: 32px;
    text-align: start;
    word-break: break-word;
    font-family: bmwTypeNextWeb,Arial,Helvetica,Roboto,sans-serif;
    margin-top: 0;
    margin-bottom: 8px;
}

.techdata-ddl-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 2rem 0px;
}

.techdata-model-ddl-title {
    font-family: bmwTypeNextWeb,Arial,Helvetica,Roboto,sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: start;
    word-break: break-word;
}

.techdata-model-ddl-selected {
    border-radius: 3px;
    cursor: pointer;
    min-height: 3.25rem;
    padding: 0 0 0 1.25rem;
    align-items: center;
    background-color: #fff !important;
    border: .0625rem solid #bbb;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: .5rem;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    width: 100%;    
}

.techdata-model-ddl-selected:hover{
    border: .125rem solid #4d4d4d;
}

.techdata-model-ddl-selected.clicked .techdata-model-ddl-icon{
    transform: rotate(-180deg);
}

.techdata-model-ddl-selected-text {
    color: #262626;
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-word;
}

.techdata-model-ddl-icon {
    color: #666;
    padding: 0 1.25rem;
    transition: transform .5s ease-in-out;
}

.techdata-model-ddl-ul-container {
    display: none;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    max-height: unset;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 6070;
}

.techdata-model-ddl-ul-container.active {
    display: flex;
}

.techdata-model-ddl-ul-container::before {
    background-color: #000c;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    content: " ";
    box-sizing: border-box;
}

.techdata-model-ddl-ul {   
    max-height: 75vh;
    z-index: 6070;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.techdata-model-ddl-selected-mob {    
    border-radius: 3px;
    cursor: pointer;
    min-height: 3.25rem;
    padding: 0 0 0 1.25rem;
    text-decoration: none;
    align-items: center;
    background-color: #fff !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 0;
    text-align: left;
    width: 100%;
    border: .125rem solid #4d4d4d;
    height: 3rem;
    margin-top: 0;
    padding-left: 0; 
}

.techdata-model-ddl-selected-mob .techdata-model-ddl-icon {
    transform: rotate(-180deg);
}

.techdata-model-ddl-fuel-title {
    background-color: #f2f2f2;
    display: block;
    font-size: .75rem;
    font-weight: 300;
    line-height: 1rem;
    padding: .5rem 1.25rem;
    color: #262626;
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
}

.techdata-model-ddl-model-container {
    margin: 0;
    padding: 0;
}

.techdata-model-ddl-model-btn {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    min-height: 3.25rem;
    padding: 0 0 0 1.25rem;
    text-align: center;
    text-decoration: none;
    background-color: #fff !important;
    border: 0;
    border-radius: 0;
    color: #262626;
    font-size: .875rem;
    font-weight: 300;
    justify-content: space-between;
    line-height: 1.375rem;
    outline: 0;
    width: 100%;
}

.techdata-model-ddl-model-item.active .techdata-model-ddl-model-btn {
    background-color: #000 !important;    
}

.techdata-model-ddl-model-item-title {
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    font-size: 14px;
    color: #262626;
    font-weight: 300;
    line-height: 22px;
    text-align: start;
}

.techdata-model-ddl-model-selected-icon {
    display: none;
    color: #fff;
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-right: 20px;
}

.techdata-model-ddl-model-selected-icon::before {
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "checkmark";
    direction: ltr;
    display: block;
    font-family: bmw_next_icons, Arial, Helvetica, Roboto, sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid #0000;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.5rem;
    font-weight: 400;
}

.techdata-model-ddl-model-item.active .techdata-model-ddl-model-item-title {
    color: #fff;
    font-weight: 400;
}

.techdata-model-ddl-model-item.active .techdata-model-ddl-model-selected-icon {
    display: block;
}


.techdata-model-ddl-close-btn {
    background-color: transparent;
    border: 0;
    color: var(--background-color);
    cursor: pointer;
    outline: 0;
    padding: 1px 20px 1px 6px;
    z-index: 6070;
    display: inline;
    width: auto;
    margin-left: auto;
}

.techdata-table {
    display: block;
    width: 100%;
    border-bottom: .0625rem solid #e6e6e6;
}

.techdata-table caption {   
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: .125rem;
    height: 4.5rem;
    justify-content: flex-start;
    margin-top: 2rem;
    position: relative;
    text-align: start;
}

.techdata-disable-accordion .techdata-table caption {
    cursor: unset;
}

.techdata-table-caption-btn {
    background-color: #0000 !important;
    color: #262626 !important;
    border: 0;
    box-shadow: inset 0 0 0 var(--border-width, 0) var(--border-color, unset);
    cursor: pointer;
    font-size: 17px;
    font-weight: 300;
    height: 100%;
    line-height: 26px;
    padding: 0;
    text-align: start;
    width: auto;
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    white-space: break-spaces;
    padding-right: 24px;
    overflow-y: unset;
}

.techdata-disable-accordion .techdata-table-caption-btn {
    cursor: unset;
}

.techdata__caption-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .5s ease-in-out;
}

.techdata-disable-accordion .techdata__caption-icon {
    display: none !important;
}

.techdata__caption-icon:before {
    font-size: 1.5rem;
    font-weight: 400;
}

.techdata__caption-icon.clicked {
    transform: rotate(180deg) translateY(50%);
}

.techdata-table tbody {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    overflow: hidden;
    transition: max-height .5s ease-in-out, margin .25s ease-in-out, padding .25s ease-in-out, opacity .25s ease-in-out;
    grid-gap: calc( 1.5rem * 2) calc( .5rem * 2);
    padding: 24px;
}

.techdata-table tbody.clicked {
    max-height: 0 !important;
    opacity: 0 !important;
    padding: 0 !important;
}

.techdata-table thead.clicked {
    max-height: 0 !important;
    opacity: 0 !important;
    padding: 0 !important; 
}

.techdata-table tbody tr {
    grid-gap: .5rem 1.5rem;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(1, auto);
    height: 100%;
    position: relative;
}

.techdata-table tbody tr:nth-of-type(2n-1):before {
    background: #f6f6f6;
    content: "";
    inset: calc( 1.5rem * -1);
    position: absolute;
    width: calc(100% + (1.5rem * 2) + ( .5rem * 0));
    z-index: -10;
}

.techdata-table-td {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: start;
}

.techdata-table-td-text {
    margin: 0;
}
.techdata-table-td-text.label {
    color: #666;
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}

.techdata-table-td-text.value {
    color: #262626;
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.techdata-table-head {
    padding: 24px;
    margin-top: -24px;
    overflow: hidden;
    transition: max-height .5s ease-in-out, margin .25s ease-in-out, padding .25s ease-in-out, opacity .25s ease-in-out;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}

.techdata-table-head .techdata-table-head-tr:first-child {
    grid-column: 1 / -1;
}

.techdata-table-head .techdata-table-head-tr:nth-child(2) {
    grid-column: 1 / 1;
}

.techdata-table-head .techdata-table-head-tr:nth-child(3) {
    grid-column: 2 / -1;
}

.techdata-table-img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.techdata-table-head .techdata-table-head-tr:first-child .techdata-table-img {
    aspect-ratio: 2.1;
}

.techdata-table-head-td {
    display: block;
    position: relative;
}

.techdata-table-img-measurements {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    gap: .5rem;
    justify-content: center;
    left: 50%;
    line-height: 22px;
    font-family: bmwTypeNextWeb,Arial,Helvetica,Roboto,sans-serif;
    position: absolute;
    transform: translate(-50%);
    white-space: nowrap;
    width: 83.3333333333%;
}

.techdata-table-img-measurements::before,
.techdata-table-img-measurements::after {
    background: #262626;
    content: "";
    height: 1px;
    width: 100%;
}

.techdata-table-head .techdata-table-head-tr:nth-child(2) .techdata-table-img-measurements {
    width: 50%;
}

.techdata-table-head .techdata-table-head-tr:nth-child(3) .techdata-table-img-measurements {
    flex-direction: column;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.techdata-table-img-side-text,
.techdata-table-img-front-text,
.techdata-table-img-back-text {
    margin: 0;
}

.techdata-table-head .techdata-table-head-tr:nth-child(3) .techdata-table-img-measurements::before,
.techdata-table-head .techdata-table-head-tr:nth-child(3) .techdata-table-img-measurements::after {
    height: 100%;
}

.techdata-table-disclaimer-container {
    margin-bottom: 2.5rem;
    opacity: .8203;
    padding-top: 3rem;
}

.techdata-table-disclaimer-p {
    margin: 0;
    margin-bottom: 16px;
    display: flex;
    position: relative;
}

.techdata-table-disclaimer-a {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    border: unset;
    color: inherit;
    cursor: pointer;
    display: inline;
    font-weight: inherit;
    text-decoration: none;
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #666;
}

.techdata-table-disclaimer-a:hover {
    text-decoration: none;
    color: #666;
}

.techdata-table-disclaimer-span {
    padding-left: 1rem;
    pointer-events: none;
    z-index: 10;
    color: #666;
    font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

.techdata-table-disclaimer-span p {
    margin: 0;
}

/* tablet */
@media (width >= 768px) {
    .techdata-selected-model-title {
        font-size: 25px;
        line-height: 36px;        
    }

    .techdata-table tbody {
        grid-gap: calc( 1.5rem * 2) calc( .75rem * 2);
        grid-template-columns: repeat( 3, 1fr);
    }

    .techdata-table tbody tr:nth-of-type(2n-1):before {
        width: unset;
        background: unset;
        content: "";
        inset: calc(1.5rem * -1);
        position: absolute;
        z-index: -10;
    }

    .techdata-table tbody tr:nth-of-type(6n-5):before {
        width: calc(300% + (1.5rem * 2) + (.75rem * 4));
        background: #f6f6f6;
        content: "";
        inset: calc(1.5rem * -1);
        position: absolute;
        z-index: -10;
    }
}

/* desktop */
@media (width >= 1024px) {
    .techdata-ddl-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .techdata-model-ddl-selected-mob {
        display: none;
    }

    .techdata-model-ddl-container {
        position: relative;
    }

    .techdata-model-ddl-ul-container {
        display: none;
        flex-flow: unset;
        justify-content: unset;
        opacity: unset;
        top: unset;
        background-color: #fff;
        border-radius: 0 0 .1875rem .1875rem;
        box-shadow: 0 .125rem .5rem 0 #00000014, 0 0 .0625rem 0 #0000003d;
        list-style: none;
        max-height: 234px;
        overflow: hidden auto;
        position: absolute;
        scrollbar-color: #4d4d4d #e6e6e6;
        scrollbar-width: thin;
        width: 100%;
        z-index: 10;
        height: auto;
    }

    .techdata-model-ddl-ul-container.active {
        display: block;
    }    
    
    .techdata-model-ddl-ul-container::before {
        background-color: unset;
        bottom: unset;
        left: unset;
        position: unset;
        right: unset;
        top: unset;
        content: unset;
        box-sizing: unset;
    }

    .techdata-model-ddl-ul {
        max-height: unset;
        z-index: unset;
        background-color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        overflow-y: unset;
    }

    .techdata-model-ddl-close-btn {
        display: none;
    }

    .techdata-table caption {
        height: 5rem;
    }

    .techdata-table-caption-btn {
        font-size: 20px;
        line-height: 30px;
    }

    .techdata-table tbody tr {
        grid-template-columns: repeat(2, auto);
    }

    .techdata-table-td.value {
        text-align: end;
        justify-content: end;
    }

    .techdata-table-disclaimer-container {
        margin-bottom: 3rem;
    }
}

/* desktop */
@media (width >= 1280px) {
    .technical-data-block {
        padding-top: 64px;
    }

    .techdata-selected-model-title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .techdata-ddl-container {
        padding-top: 40px;
    }

    .techdata-model-ddl-selected-text {
        font-size: 15px;
        line-height: 24px;
    }

    .techdata-model-ddl-selected-mob {
        display: none;
    }

    .techdata-model-ddl-model-item-title {
        font-size: 15px;
        line-height: 24px;
    }

    .techdata-table-caption-btn {
        font-size: 23px;
        line-height: 36px;
    }

    .techdata-table-td-text.value {
        font-size: 15px;
        line-height: 24px;
    }

    .techdata-table-img-measurements {
        font-size: 15px;
        line-height: 24px;
    }

    .techdata-table-disclaimer-container {
        margin-bottom: 80px;
    }
}

/* desktop */
@media (width >= 1920px) {
    .technical-data-block {
        padding-top: 80px;
    }

    .techdata-selected-model-title {
        font-size: 34px;
        line-height: 48px;
        margin-bottom: 16px;      
    }

    .techdata-ddl-container {
        padding-bottom: 2.5rem;
        padding-top: 3rem;
    }

    .techdata-model-ddl-selected-text {
        font-size: 16px;
        line-height: 26px;
    }

    .techdata-model-ddl-model-item-title {
        font-size: 16px;
        line-height: 26px;
    }

    .techdata-table-caption-btn {
        font-size: 25px;
        line-height: 38px;
    }

    .techdata-table-td-text.value {
        font-size: 16px;
        line-height: 26px;
    }

    .techdata-table-img-measurements {
        font-size: 16px;
        line-height: 26px;
    }
}