/* tabs.css */
.tabs.block {
    display: flex;
    /* justify-content: center; */
}

.tabs ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0.125rem 0.5rem 0px, rgba(0, 0, 0, 0.28) 0px 0px 0.0625rem 0px;
    margin: .5rem 0;
    min-height: 52px;
    border-radius: 3px;
}

.tabs li {
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    height: 100%;
}

.tabs li button {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--fixed-font-family);
    text-transform: uppercase;
    padding: .5rem 1.125rem;
    height: inherit;
    border-radius: 0;
    background-color: var(--light-grey);
    color: var(--light-border-color);
    border-width: 4px 0;
}

.tabs li button.active {
    border: none;
    background-color: var(--background-color);
    border-bottom-color: transparent;
    color: var(--light-text-color);
}

.tabs li button:not(.active):hover {
    color: var(--light-link-hover-color);
}

body.activity main {
    grid-auto-flow: column;
    grid-template-rows: auto auto min-content minmax(auto, 100%);
    grid-template-areas:
        "bread bread bread bread"
        "hero hero hero hero"
        "padleft left tabs padright"
        "padleft left main padright";
}

body.activity main .tabs-container {
    grid-area: tabs;
    padding-bottom: 0;
}

body.activity main [data-tab] {
    padding-top: 0;
    padding-bottom: 0;
}

body.activity main [data-tab] :first-child {
    margin-top: 0;
}