.video-js.text-with-video {
  width: 60vw;
}

.eyebrowbold1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  font-family: var(--fixed-font-family);
  background-color: rgba(255, 255, 255, 1);
  color: var(--light-border-color);
}

.eyebrowbold2 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  font-family: var(--fixed-font-family);
  background-color: rgba(255, 255, 255, 1);
  color: var(--light-border-color);
}

.iconization {
  font-size: 14px;
  line-height: 12px;
}

.text-with-video-eyebrow {
  margin-bottom: 8px;
}

.text-with-video-description {
  margin-top: 12px;
}

.text-with-video-button {
  margin-top: 24px;
}

.wrapper-div.left {
  display: flex;
  flex-direction: row;
}

.wrapper-div.right {
  display: flex;
  flex-direction: row-reverse;
}

.text-alignment {
  text-align: left;
  padding: 0 12px;
  width: 40vw;
}

.text-with-video-button {
  display: inline-flex;
  flex-direction: row;
}

.text-with-video-button:hover{
  color: var(--link-hover-color);
  cursor: pointer;
}

.text-with-video-headline {
  margin: 0;
}

@media (width >= 360px) and (width < 768px) {
  .wrapper-div.left,
  .wrapper-div.right {
    display: flex;
    flex-direction: column;
  }

  .video-js.text-with-video {
    width: 100%;
    margin-bottom: 20px;
  }

  .text-with-video-eyebrow {
    margin-bottom: 8px;
  }
  
  .text-with-video-description {
    margin-top: 8px;
  }
  
  .text-with-video-button {
    margin-top: 20px;
  }

  .text-alignment {
    text-align: left;
    padding: 0 8px;
    width: fit-content;
  }
}