.text-with-media-item {
  display: flex;
  flex-direction: column;
}

.text-with-media-item p {
  margin: 0;
}

.text-with-media-item .media-detail-container {
  flex: 1;
  margin-top: 1.25rem;
  order: 2;
}

.text-with-media-item .media-container {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  order: 1;
}

.text-with-media-item.right .media-detail-container {
  order: 2;
}

.text-with-media-item .media-detail-container > * {
  margin-bottom: 0.5rem;
}

.text-with-media-item .media-detail-container > h2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75rem;
  color: var(--light-text-color);
}

.text-with-media-item .media-detail-container > p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--light-text-color);
}

.text-with-media-item.right .media-container {
  order: 1;
}

.text-with-media-item .media-container img,
.text-with-media-item .media-container video {
  aspect-ratio: 3/2;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.text-with-media-item .video-parent-block > div {
  width: 100%;
  height: auto;
  display: inline-block;
}

.text-with-media-item .text-with-media-cta {
  text-decoration: none;
  margin-top: 1.25rem;
  display: block;
  color: var(--light-text-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  word-break: break-word;
}

.text-with-media-item .text-with-media-cta:hover,
.text-with-media-item .text-with-media-cta:focus-visible {
  color: var(--light-link-hover-color)
}

.text-with-media-item .text-with-media-cta:active {
  color: var(--bg-media-btn-hover)
}

.text-with-media-item .text-with-media-cta::after {
  font-size: 1.25rem;
  font-weight: 400;
  word-wrap: normal;
  font-feature-settings: "liga";
  content: "arrow_chevron_down";
  direction: ltr;
  display: inline-block;
  font-style: normal;
  font-family: "bmw_next_icons", arial, helvetica, roboto, sans-serif;
  height: 1.25rem;
  line-height: 1;
  outline: 1px solid transparent;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  width: auto;
  -webkit-font-smoothing: antialiased;
  transform: rotate(270deg);
  cursor: pointer;
  position: relative;
  bottom: -4px;
  left: 2px;
}

/* tablet */
@media (width >= 768px) { 
  .text-with-media-item {
    display: flex;
    flex-direction: row;
  }

  .text-with-media-item .media-detail-container {
   margin: auto 0;
  }

  .text-with-media-item.right .media-detail-container {
    order: 1;
  }

  .text-with-media-item.right .media-container {
    order: 2;
  }

  .text-with-media-item.left .media-detail-container > * {
    padding-left: 1.75rem;
    padding-right: 0.75rem;
  }

  .text-with-media-item.right .media-detail-container > * {
    padding-left: 0.75rem;
    padding-right: 1.75rem;
  }

  .text-with-media-item.left .media-container > *{    
    padding-right: 0.75rem;
  }

  .text-with-media-item.right .media-container > *{    
    padding-left: 0.75rem;
  }
}

/* desktop */
@media (width >= 1280px) { 
  .text-with-media-item .media-container {
    flex: unset;
    width: 58.33%;
    height: auto;
  }

  .text-with-media-item .text-with-media-cta {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }

  .text-with-media-item.left .media-detail-container > * {
    padding-left: 3.25rem;
    padding-right: 0.75rem;
  }

  .text-with-media-item.right .media-detail-container > * {
    padding-left: 0.75rem;
    padding-right: 3.25rem;
  }

  .text-with-media-item .media-detail-container > h2 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }  
}

/* large desktop */
@media (width >= 1920px) {
  .text-with-media-item {
    margin-left: 5.25rem;
    margin-right: 5.25rem;
  }

  .text-with-media-item .text-with-media-cta {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .text-with-media-item.left .media-detail-container > * {
    padding-left: 4.25rem;
    padding-right: 0.75rem;
  }

  .text-with-media-item.right .media-detail-container > * {
    padding-left: 0.75rem;
    padding-right: 4.25rem;
  }

  .text-with-media-item .media-detail-container > h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}