/******* stock locator Desktop ******/ 

@media (width >= 1280px) and (width < 1920px) {
    .stock-locator-model-detail-definition-specification .dropdown-container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .stock-locator-container {
        width: 20%;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .box-container {
        display: flex;
    }

    .mobile-filter-wrapper {
        display: none;
    }

    .stock-locator-container .filter-wrapper {
        background-color: #fff;
        width: 100%;
        transition: all .2s ease-in-out;
        position: relative;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading {
        padding: 0 15px;
        border-color: #8e8e8e;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading.is-active{
        border-left: 4px solid #1c69d4;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading:hover {
        border-color: transparent;
        box-shadow: #0000001f 0 10px 17px 0, #00000026 0 4px 8px 0;
        border-width: 0;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading.is-active:hover {
        border-color: transparent;
        box-shadow: #0000001f 0 10px 17px 0, #00000026 0 4px 8px 0;
        border-width: 0;
        border-left: 4px solid #1c69d4;
    }


    .stock-locator-container .filter-wrapper .filter-label-heading::after {
        content: "arrow_chevron_down";
        direction: ltr;
        font-family: var(--icon-font-family);
        opacity: var(--iconfont400-opacity);
        position: absolute;
        right: 25px;
        font-size: 20px;
        font-weight: 400;
        color: #8e8e8e;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading.show-dropdown::after {
        content: "arrow_chevron_up";
        direction: ltr;
        font-family: var(--icon-font-family);
        opacity: var(--iconfont400-opacity);
        position: absolute;
        right: 25px;
        font-size: 20px;
        font-weight: 400;
        color: #8e8e8e;
    }

    .stock-locator-container .filter-wrapper ul.filter-list {
        margin: -1px;
        padding: 10px;
        display: none;
    }

    .stock-locator-container .filter-wrapper ul.filter-list li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper {
        max-height: 150px;
        overflow-y: auto;
        margin-left: -1px;
        border-color: transparent;
        border-top: 2px solid #f2f2f2;
        box-shadow: #0000001f 0 10px 17px 0, #00000026 0 4px 8px 0;
    }

    .selected-filter-list{
        display: flex;
        align-items: center;
        order: 1;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .selected-filter-list .selected-filter-value{
        border: 1px solid #000;
        padding: 5px 30px 5px 15px;
        font-size: 0.75rem;
        margin: 10px;
        font-weight: 700;
        position: relative;
    }

    .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper .filter-checkbox{
        width: 20px;
        height: 20px;
    }

    .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper label{
        padding-left: 20px;
    }

    .reset-filter {
        height: 34px;
        padding: 0 25px;
        font-size: 14px;
        line-height: 34px;
        width: auto;
        cursor: pointer;
        color: #fff;
        background: #4d4d4d;
    }

    .cancel-filter::after {
        content: "X";
        direction: ltr;
        font-family: var(--icon-font-family);
        opacity: var(--iconfont400-opacity);
        font-size: 10px;
        font-weight: 400;
        color: #8e8e8e;
        position: absolute;
        right: 10px;
        top: 7px;
        cursor: pointer;
    }
}

/*  mobile view */


@media (width >= 360px) and (width < 768px) {
    .stock-locator-container .series-label {
        display: none;
    }
    
    .stock-locator-container .filter-wrapper ul.filter-list {
        margin: 0;
        padding: 10px;
    }

    .stock-locator-container .filter-wrapper ul.filter-list li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    } 

    .filter-checkbox {
        display: none;
    }

  .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper .filter-item{
    text-align: center;
    border: 1px solid;
    list-style-type: none;
    margin: 15px 20px;
    padding: 10px 15px;
 }

 .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper .filter-item.selected-filter {
    border: 2px solid #1c69d4;
 }
 
}