/******* stock locator Desktop ******/ 

@media (width >= 1280px) and (width < 1920px) {
    .stock-locator-model-detail-definition-specification .dropdown-container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .stock-locator-container {
        width: 20%;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .stock-locator-container.relevance {
        display: flex;
        order: 1;
    }

    .box-container {
        display: flex;
    }

    .mobile-filter-wrapper {
        display: none;
    }

    .stock-locator-container .filter-wrapper {
        background-color: #fff;
        width: 100%;
        transition: all .2s ease-in-out;
        position: relative;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading {
        padding: 0 15px;
        border-color: #8e8e8e;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
    }

    .card-tile-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .stocklocator-card-img {
        width : 350px;
        height: 150px;
        background: red;
    }

    
    .stock-locator-container .filter-wrapper .filter-label-heading.is-active{
        border-left: 4px solid #1c69d4;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading:hover {
        border-color: transparent;
        box-shadow: #0000001f 0 10px 17px 0, #00000026 0 4px 8px 0;
        border-width: 0;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading.is-active:hover {
        border-color: transparent;
        box-shadow: #0000001f 0 10px 17px 0, #00000026 0 4px 8px 0;
        border-width: 0;
        border-left: 4px solid #1c69d4;
    }


    .stock-locator-container .filter-wrapper .filter-label-heading::after {
        content: "arrow_chevron_down";
        direction: ltr;
        font-family: var(--icon-font-family);
        opacity: var(--iconfont400-opacity);
        position: absolute;
        right: 25px;
        font-size: 20px;
        font-weight: 400;
        color: #8e8e8e;
    }

    .stock-locator-container .filter-wrapper .filter-label-heading.show-dropdown::after {
        content: "arrow_chevron_up";
        direction: ltr;
        font-family: var(--icon-font-family);
        opacity: var(--iconfont400-opacity);
        position: absolute;
        right: 25px;
        font-size: 20px;
        font-weight: 400;
        color: #8e8e8e;
    }

    .stock-locator-container .filter-wrapper .filter-list {
        margin: -1px;
        padding: 10px;
        display: none;
    }

    .stock-locator-container .filter-wrapper .filter-list li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper {
        max-height: 150px;
        overflow-y: auto;
        margin-left: -1px;
        border-color: transparent;
        border-top: 2px solid #f2f2f2;
        box-shadow: #0000001f 0 10px 17px 0, #00000026 0 4px 8px 0;
    }

    .selected-filter-list{
        display: flex;
        align-items: center;
        order: 1;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .stock-locator-container.relevance .filter-item-relevance.selected::after {
        content: 'checkmark';
        direction: ltr;
        font-family: var(--icon-font-family);
        opacity: var(--iconfont400-opacity);
        font-weight: 400;
        color: #000;
        border-color: #000;
        position: absolute;
        font-size: 16px;
        right: 10px;
        width: 23px;
        height: 23px;
        cursor: pointer;
    }

    .selected-filter-list .selected-filter-value{
        border: 1px solid #000;
        padding: 5px 30px 5px 15px;
        font-size: 0.75rem;
        margin: 10px;
        font-weight: 700;
        position: relative;
    }

    .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper .filter-checkbox, .filter-checkbox-relevace {
        width: 20px;
        height: 20px;
    }

    .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper label{
        padding-left: 20px;
    }

    .reset-filter {
        height: 34px;
        padding: 0 25px;
        font-size: 14px;
        line-height: 34px;
        width: auto;
        cursor: pointer;
        color: #fff;
        background: #4d4d4d;
    }

    .cancel-filter::after {
        content: "X";
        direction: ltr;
        font-family: var(--icon-font-family);
        opacity: var(--iconfont400-opacity);
        font-size: 10px;
        font-weight: 400;
        color: #8e8e8e;
        position: absolute;
        right: 10px;
        top: 7px;
        cursor: pointer;
    }

    .card-tile-list-ele{
        width: 100%;
        max-width: 382px;
        transition: all .2s ease-in-out;
        position: relative;
        padding: 30px 25px;
        flex-wrap: wrap;
        display: flex;
    }
    
    .card-tile-list-ele:hover {
        box-shadow: 10px 10px 20px rgba(96, 96, 96, 0.5);
    }
    
    .card-tile-list-ele:hover > * {
        box-shadow: none; 
    }

    .image-container {
        margin-bottom: 20px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .stock-locator-card-button-container .stock-locator-hide-button{
        display: none;
        width: 100%;
        height: 50px;
        text-decoration: none;
        background-color: #1c69d4;
    }
    .stock-model-description-wrapper{
        display: flex;
        gap: 5px;
        margin-bottom: 20px;
        margin-top: 5px
    } 
    .stock-locator-card-button-container .stock-locator-hide-button a {
        text-decoration: none;
        padding: 15px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .card-tile-list-ele:hover .stock-locator-hide-button{
        display: inline-block;
    }
    
    
    .description-popup-button {
        cursor: pointer;
        margin-left: 10px;
        font-style: normal; 
        font-weight: bold;
        border: 1px solid #666;
        padding: 2px 8px;
        border-radius: 50%;
    }
    .stock-model-description-popup{
        position: relative;
    }
    .price-container{
        position: relative;
    }
    .price-container .description-popup-container {
        display: none; 
        position: absolute; 
        background-color: #fff;
        border: 1px solid #ccc;
        margin-top: 5px; 
        width: 400px;
        top: -60px;
        left: 130px;
        z-index: 8;
    
    }
    li::marker{
       content: '';
    }
    /* .description-popup-container::before{
        top: calc(50% - 10px);
        left: -8px;
    } */
    .popup-arrow{
        border: solid transparent;
        border-width: 15px;
        border-color: transparent #e6e6e6;
        top: calc(50% - 10px);
        left: -8px;
    
    }
    
    .description-popup-content-header {
        display: flex;
        justify-content:space-between;
        position: relative;
        
    }
    
    .description-popup-content {
        padding: 30px;
    }
    
    .popup-toggle-button-container {
        text-align: center;
    }
    .popup-toggle-button-container .popup-toggle-button{
        background-color: #fff;
        border: 0;
        padding: 0;
        margin: 0;
    
    }
    .description-popup-close-button {
        padding: 0;
        margin: 0;
        background-color: #fff;
        border: 0;
        position: absolute;
        right: 0;
        bottom: 10px;
    }
    .expand-button, .collapse-button, .description-popup-close-button {
        cursor: pointer;
        font-size: 50px;
    }
    
    /* .expand-button:hover, .collapse-button:hover, .description-popup-close-button:hover {
        background-color: #ddd;
    } */
    .description-popup-disclaimer{
        height: 200px;
        overflow: hidden;
        
    }
    .description-popup-price-info{
        display: flex;
        justify-content: space-between;
    }
}

/*  mobile view */


@media (width >= 360px) and (width < 768px) {
    .stock-locator-container .series-label {
        display: none;
    }
    
    .stock-locator-container .filter-wrapper .filter-list {
        margin: 0;
        padding: 10px;
    }

    .stock-locator-container .filter-wrapper .filter-list li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    } 

    .filter-checkbox, .filter-checkbox-relevace {
        display: none;
    }

  .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper .filter-item{
    text-align: center;
    border: 1px solid;
    list-style-type: none;
    margin: 15px 20px;
    padding: 10px 15px;
 }

 .stock-locator-container .filter-wrapper .filter-list.dropdown-list-wrapper .filter-item.selected-filter {
    border: 2px solid #1c69d4;
 }
 
}