.section.grid-6,
.section.grid-8,
.section.grid-10 {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 0;
  grid-template-areas: "leftEmpty content rightEmpty";
}

.section.grid-6 > div.default-content-wrapper,
.section.grid-8 > div.default-content-wrapper,
.section.grid-10 > div.default-content-wrapper {
  grid-area: content;
}

.section.grid-8 {
 /* 8/12 = 66.66% */
  grid-template-columns: 1fr 4fr 1fr;
}

.section.grid-6 {
 /* 6/12 = 50% */
  grid-template-columns: 1fr 2fr 1fr;
}

.section.grid-10 {
  /* 10/12 = 83.33% */
  grid-template-columns: 1fr 10fr 1fr;
}

.section.center:where(.grid-6,.grid-8,.grid-10) {
  text-align: center;
}

.section.left:where(.grid-6,.grid-8,.grid-10) {
  text-align: left;
}

.section.right:where(.grid-6,.grid-8,.grid-10) {
  text-align: right;
}

.section.center:where(.grid-6,.grid-8,.grid-10) .button-container > .align-icon {
  justify-content: center;
}

.section.left:where(.grid-6,.grid-8,.grid-10) .button-container > .align-icon {
  justify-content: left;
}

.section.right:where(.grid-6,.grid-8,.grid-10) .button-container > .align-icon {
  justify-content: right;
}

.flex-top-margin {
  margin-top: 48px;
}

/* tablet */
@media (width >=768px) and (width < 1280px) {
  .section.grid-6,
  .section.grid-8,
  .section.grid-10 {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0;
    grid-template-areas: "leftEmpty content rightEmpty";
  }

  .section.grid-8 {
    /* 8/12 = 66.66% */
     grid-template-columns: 1fr 4fr 1fr;
   }
   
   .section.grid-6 {
    /* 6/12 = 50% */
     grid-template-columns: 1fr 2fr 1fr;
   }
   
   .section.grid-10 {
     /* 10/12 = 83.33% */
     grid-template-columns: 1fr 10fr 1fr;
   }

   .flex-top-margin {
    margin-top: 40px;
  }
}

/* mobile */
@media (width >=360px) and (width < 768px) {
  .section.grid-10,
  .section.grid-8,
  .section.grid-6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }

  .flex-top-margin {
    margin-top: 40px;
  }
}