footer .footer-white-bg{
  background-color: var(--background-color); 
}

footer .footer-grey-bg{
  background-color: var(--light-grey);
}

footer .footer .section{
  padding: 2rem 4rem 1.25rem;
}

footer .footer .section:first-child {
  border-top: 0.0625rem solid var(--light-grey-1);
  padding-bottom: 2rem;
}

footer .footer .section:nth-child(2) {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

footer .footer .section:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal {
  width: auto;
  padding: 0 0.5rem;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-title{
  margin: 0;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail {
  text-align: center;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li {  
  margin:0 0.375rem 0.75rem;
}

footer .footer .section:first-child .link-list-detail .button-container a {
  text-decoration: none;
  font-weight: 500;
  color: #262626;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li a{
  font-size: 0.75rem;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li:last-child {
  margin-right: 0;
}

/* tablet */
@media (width >= 768px) {
  footer .footer .section {
    padding: 2rem 3rem 1.25rem;
  }

  footer .footer .section:first-child {
    padding-bottom: 1.25rem;
  }
  
  footer .footer .section:first-child .link-list-wrapper.horizontal>.link-list.block {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      padding-bottom: 0.75rem;
  }

  footer .footer .section:first-child .link-list-detail .button-container {
    margin-top: 0;
  }

  footer .link-list-wrapper.vertical .link-list-detail ul li a {
    font-size: 0.875rem !important;
    line-height: 1.375rem !important;
    font-weight: 500 !important;   
    color: #4d4d4d;
    text-decoration: none; 
}

  footer .footer .section:first-child .link-list-detail .button-container a {
    text-decoration: none;
    font-size: 0.875rem !important;
    font-weight: 500;
    line-height: 1.375rem !important;
  }

  footer .footer .section:first-child .link-list-title {
    margin-bottom: 0;
  }

  footer .footer .section:nth-child(2) {   
    padding-bottom: 2rem;
  }

  footer .footer .section:nth-child(2) .link-list-wrapper.vertical:nth-child(even) .link-list.block {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  footer .footer .section:nth-child(2) .link-list-wrapper.vertical:nth-child(odd) .link-list.block {
    padding-left: 0;
    padding-right: 0.75rem;
  }

  footer .footer .section:nth-child(2) .link-list-wrapper.vertical .link-list-detail ul {
    margin-bottom: 4.25rem;
  }

  footer .footer .section:nth-child(3) {
    display: flex;
    gap: 0;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 2.25rem;
  }

  footer .footer .section:nth-child(3) .default-content-wrapper {
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

  footer .footer .section:nth-child(3) .default-content-wrapper p{
    margin: 0;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal {   
    padding: 2rem 0.75rem;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail {
    padding-left: 0;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul
  {
    display: block;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li {  
    margin:0;    
    margin-right: 2rem;
    margin-left: 4px;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li:not(:first-child){
    margin-left: -5px;
  }

}

/* desktop */
@media (width >= 1280px) {
  footer .footer .section {
    padding: 2rem 6rem 1.25rem;
  }
  
  footer .footer .section:nth-child(2) {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  footer .footer .section:nth-child(3) {
    padding: 2rem 6rem;
    gap: 2rem;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal {   
    padding: 0;
  }
  
  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul
  {
    display: block;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li {  
    margin:0;    
    margin-right: 2rem;
    margin-left: -5px;
  }

  footer .footer .section:first-child .link-list-detail .button-container {
    font-size: 0.9375rem;
    font-weight: 500; 
    line-height: 1.5rem;
  }

  footer .link-list-wrapper.vertical .link-list-detail ul li a {
    font-size: 0.9375rem !important;
    line-height: 1.5rem !important;
    font-weight: 500 !important;   
    color: #4d4d4d;
    text-decoration: none; 
}

  footer .footer .section:first-child .link-list-detail .button-container a  {
    font-size: 0.9375rem !important;
    font-weight: 500;
    line-height: 1.5rem !important;
 }

footer .link-list-wrapper.vertical .link-list-title {       
  font-size: 0.75rem !important;
  font-weight: 300;
  line-height: 1rem !important;
}

footer .footer .section:nth-child(3) .default-content-wrapper {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  font-weight: 300 !important;
}

}

/* large desktop */
@media (width >= 1920px){
  footer .footer .section {
    max-width: var(--max-component-width);
    padding-left: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
    padding-right: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
  }

  footer .footer .section:nth-child(3) {
    gap: 2rem;
    padding: 2rem calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal {   
    padding: 0 0.75rem;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul
  {
    display: block;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li {  
    margin:0;    
    margin-right: 2rem;
    margin-left: -5px
  }

  footer .footer .section:first-child .link-list-detail .button-container {
    font-size: 1rem;
    font-weight: 500; 
    line-height: 1.625rem;
  }

  footer .footer .section:nth-child(3) .default-content-wrapper {
    font-size: 1.1875rem !important;
    font-weight: 300;
    line-height: 1.875rem !important;
  }  

  footer .link-list-wrapper.vertical .link-list-detail ul li a {
    font-size: 1rem !important;
    line-height: 1.625rem !important;
    font-weight: 500 !important; 
    color: #4d4d4d;
    text-decoration: none;  
}

  footer .footer .section:first-child .link-list-detail .button-container a  {
    font-size: 1rem !important;
    font-weight: 500;
    line-height: 1.625rem !important;
 }

 footer .link-list-wrapper.vertical .link-list-title {       
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.375rem;
}

}
