/* stylelint-disable property-no-vendor-prefix */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url('../blocks/flexible-width-section/flexible-width-section.css');
@import url('../blocks/video/video.css');

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --medium-text-color:#4d4d4d;
  --light-border-color: #666;
  --light-text-color: #262626;
  --light-link-hover-color: #1c69d4;
  --light-grey: #f6f6f6;
  --light-bbb: #bbb;
  --light-grey-1:#e6e6e6;
  --fixed-font-family: bmwtypenextweb,arial,helvetica,roboto,sans-serif;
  --icon-font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
  --opacity-color: #0006;
  --bg-media-btn-hover: #0653b6;
  --bg-media-ghost-btn: #f2f2f2;
  --fuel-icon-color: #0066b1;
  --ddl-selected-color:#000c;

  /* base font size */
  --base-font-size: 16px;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* icon font opacity */
  --iconfont400-opacity: 0;
  --iconfont300-opacity: 0;

  /* nav height */
  --nav-height: 64px;

  /* breakpoints */
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1280px;
  --breakpoint-large-desktop: 1920px;

  /* maximum width */
  --max-component-width:1920px;

  /* section padding */
  --section-mobile-padding:24px;
  --section-tablet-padding:48px;
  --section-desktop-padding:96px;
}


@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body.appear {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

body {
  display: none;
  background-color: var(--background-color);
}

body.iconfont400-loaded {
  --iconfont400-opacity: 1;
}

body.iconfont300-loaded {
  --iconfont400-opacity: 1;
}

main {
  flex: 1;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--fixed-font-family);
  margin: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { 
  font-size: 2.688rem; 
  line-height: 3.75rem;
  font-weight: 300;
  margin-top: 0.75rem;
}

h2 { 
  font-size: 2.188rem; 
  line-height: 3.125rem; 
  font-weight: 300;
  margin-top: .5rem;
}

h3 { 
  font-size: 1.75rem; 
  line-height: 2.5rem;
  font-weight: 300;
  margin-top: 0.25rem;
}

h4 { 
  font-size: 0.75rem; 
  line-height: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light-text-color);
}

h5 { 
  font-size: 0.75rem; 
  line-height: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light-text-color);
}

h6 { 
  font-size: 0.938rem;
  line-height: 0.75rem;
  letter-spacing: 0.563rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light-text-color);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

.default-content-wrapper > p {
  font-size: 0.75rem; 
  line-height: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin: 0 0 .5rem;
}

p:has(picture:first-child) {
  margin-top: 0;
  margin-bottom: 0;
}

code, pre {
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a,b, body strong {
  font-weight: 700;
}

a:any-link {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--fixed-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 15px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

button,input{
  overflow:visible
}

button,select{
  text-transform:none
}

button,[type="button"],[type="reset"],[type="submit"]{
  -webkit-appearance: button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{
  border-style:none;
  padding:0
}

button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.ghost-dark {
  background-color: transparent;
  border: 1px solid var(--light-text-color);
  outline: 1px solid transparent;
  color: var(--light-text-color);
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-family: var(--fixed-font-family);
  text-align: center;
  padding: .25rem 1.5rem;
  min-height: 3.334rem;
  align-content: center;
  text-rendering: optimizespeed;
  margin-bottom: 0;
  border-radius: 3px;
}

.section.alignment-center.columns-container .columns.left .button-container a {
  width: 33%;
}

a.button.ghost-dark.button-fixed-width {
  width: auto;
  min-width: auto;
  white-space: normal;
}


a.button.ghost-dark-flex.button-flex-width {
  max-width: 75vw;
  width: auto;
}

a.button.ghost-dark:hover,
a.button.ghost-dark-flex:hover {
  border: 1px solid var(--text-color);
  outline: 1px solid var(--text-color);
  font-weight: bold;
}

a.button.hyperlink {
  background: transparent;
  padding: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  color: rgb(38 38 38 / 100%);
  font-weight: 700;
  font-family: var(--fixed-font-family);
  margin-bottom: 0;
}

.align-icon {
  display: inline-flex;
}

a.button.hyperlink:hover,
.align-icon:hover{
  color: var(--link-hover-color);
  font-weight: bold;
  cursor: pointer;
}

.icon-gt::before {
  font-size: 1.5rem;
  font-weight: 500;
  word-wrap: normal;
  font-feature-settings: "liga";
  content: attr(data-icon);
  direction: ltr;
  display: block;
  font-style: normal;
  font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
  height: 1em;
  line-height: 1;
  outline: 1px solid transparent;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  width: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.align-icon > .align-center {
  align-self: center;
  margin-top: 1rem;
}

.button-container.button-align-right{
  text-align: right;
}

.button-container.button-align-left{
  text-align: left;
}

.button-container.button-align-center{
  text-align: center;
}

.section.alignment-center > div.default-content-wrapper > p,
.section.alignment-center > div.default-content-wrapper > h1,
.section.alignment-center > div.default-content-wrapper > h2,
.section.alignment-center > div.default-content-wrapper > h3,
.section.alignment-center > div.default-content-wrapper > h4,
.section.alignment-center > div.default-content-wrapper > h5,
.section.alignment-center > div.default-content-wrapper > h6 {
  text-align: center;
}

.section.alignment-left > div.default-content > p,
.section.alignment-left > div.default-content-wrapper > h1,
.section.alignment-left > div.default-content-wrapper > h2,
.section.alignment-left > div.default-content-wrapper > h3,
.section.alignment-left > div.default-content-wrapper > h4,
.section.alignment-left > div.default-content-wrapper > h5,
.section.alignment-left > div.default-content-wrapper > h6 {
  text-align: left;
}

.section.alignment-right > div.default-content-wrapper > p,
.section.alignment-right > div.default-content-wrapper > h1,
.section.alignment-right > div.default-content-wrapper > h2,
.section.alignment-right > div.default-content-wrapper > h3,
.section.alignment-right > div.default-content-wrapper > h4,
.section.alignment-right > div.default-content-wrapper > h5,
.section.alignment-right > div.default-content-wrapper > h6 {
  text-align: right;
}

p.button-container
{
  margin-bottom: 0;
}

main img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

[data-fixedsectiontopmargin='true']{
  margin-top: 3rem;
}

[data-sectionbgcolor='grey'] {
  background-color: var(--light-grey);
}

/* sections */
main .section {
  max-width: var(--max-component-width);
  padding: 0 var(--section-mobile-padding);
}

main .section:first-child {
  margin-top: 0;
}

/* tablet */
@media (width >= 768px){
  main .section {
    padding: 0 var(--section-tablet-padding);
  }
}

@media (width >= 768px) and (width < 1280px) {
  a.button.ghost-dark
  {
    margin-top: 0.5rem;
    background-color: transparent;
    border: 1px solid var(--light-text-color);
    color: var(--light-text-color);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: var(--fixed-font-family);
    text-align: center;
    padding: .25rem 1.5rem;
    min-height: 3.334rem;
    align-content: center;
    text-rendering: optimizespeed;
    margin-bottom: 0;
  }

  a.button.hyperlink {
    background: transparent;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(38 38 38 / 100%);
    font-weight: 700;
    font-family: var(--fixed-font-family);
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .align-icon > .align-center {
    align-self: center;
    margin-top: 0.5rem;
  }

  [data-fixedsectiontopmargin='true']{
    margin-top: 2.5rem;
  }
}

@media (width >= 1280px){
  main .section {
    padding: 0 var(--section-desktop-padding);
  } 
  
  .default-content-wrapper > p {    
    margin: 0 0 .75rem;
  }
 
  .appear.white-background main .section.columns-container .default-content-wrapper p {
    margin: 0
  }
}

/* large-desktop */
@media (width>= 1440px){
  .section.alignment-center.columns-container .columns.left .button-container a {
    width: 32%;
  }
}

/* large-desktop */
@media (width >= 1920px){
  main .section {   
    max-width: 100vw;
    padding-left: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2)))/2);
    padding-right: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2)))/2);
  }

  .default-content-wrapper > p {    
    margin: 0 0 1rem;
  }

  .section.alignment-center.columns-container .columns.left .button-container a {
    width: 32%;
  }
}

/* mobile */
@media (width >= 360px) and (width < 768px) {
  header {
    height: var(--nav-height);
  }

  a.button.ghost-dark
  {
    margin-top: 0.5rem;
    background-color: transparent;
    border: 1px solid var(--light-text-color);
    color: var(--light-text-color);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: var(--fixed-font-family);
    text-align: center;
    padding: .25rem;
    min-height: 3.334rem;
    align-content: center;
    text-rendering: optimizespeed;
    margin-bottom: 0;
  }

  a.button.ghost-dark.button-fixed-width {
    width: 100%;
  }

  a.button.hyperlink {
    background: transparent;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(38 38 38 / 100%);
    font-weight: 700;
    font-family: var(--fixed-font-family);
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .align-icon > .align-center {
    align-self: center;
    margin-top: 0.5rem;
  }

  [data-fixedsectiontopmargin='true']{
    margin-top: 2.5rem;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

fieldset{
  padding:.35em .75em .625em
}

legend{
  box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}

progress{
  vertical-align:baseline
}

textarea{
  overflow:auto
}

[type="checkbox"],[type="radio"]{
  box-sizing:border-box;
  padding:0
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{
  height:auto
}

[type="search"]{
  -webkit-appearance: textfield;
  outline-offset:-2px
}

[type="search"]::-webkit-search-decoration{
  -webkit-appearance: none;
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit
}

[hidden]{
  display:none
}

.hidden {
  display: none !important;
}

.no-visiblity {
  visibility: hidden !important;
}

@media (width >= 360px) and (width < 1280px) {
    h1 { 
      font-size: 2.063rem; 
      line-height: 2.875rem;
      margin-top: .5rem; 
    }

    h2 { 
      font-size: 1.75rem; 
      line-height: 2.5rem;
      margin-top: .5rem;
    }

    h3 { 
      font-size: 1.438rem; 
      line-height: 2rem;
      margin-top: 0.25rem;
    }

    h6 {
      font-size: .875rem;
      line-height: .75rem;
      letter-spacing: 0.525rem;
    }
}

@media (width>=1920px) {
  h1 {
    font-size: 3.75rem;
    line-height: 5.25rem;
    margin-top: 1rem;
  }

  h2 {
    font-size: 2.813rem;
    line-height: 3.875rem;
    margin-top: .5rem;
  }

  h3 {
    font-size: 2.125rem;
    line-height: 3rem;
    margin-top: .5rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 0.875rem;
    letter-spacing: .6rem;
  }

}

/* icon */

[data-icon]:not([data-icon=""]) {
  display: inline-flex;
  font-size: 1.5rem
}

[data-icon]:not([data-icon=""])::before {
  font-size: inherit;
  font-weight: 400;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  content: attr(data-icon);
  direction: ltr;
  display: block;
  font-family: var(--icon-font-family) !important;
  opacity: var(--iconfont400-opacity);
  font-style: normal;
  height: 1em;
  line-height: 1;
  outline: none;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
  width: auto;
}
